# For Http

In [1]:
from Modules import modules as md
from Modules import usermodules as um
import pandas as pd

#### convert to chunks
chunk_size=50000
batch_no=1
for chunk in pd.read_csv('../Dataset/r4.2/http.csv',chunksize=chunk_size):
    chunk.to_csv('chunk'+str(batch_no)+'.csv',index=False)
    batch_no+=1

In [2]:
df= pd.read_csv('../Notebook/chunk1.csv')
df.head()
print(df.shape)

(50000, 6)

#### for shortcut
for i in range(1,425):
    print(r"df"+str(i)+"= pd.read_csv('../Notebook/chunk"+str(i)+".csv')")
    print(r"print(r'Chunk : "+str(i)+" Done')")

In [3]:
df1= pd.read_csv('../Notebook/chunk1.csv')
print(r'Chunk : 1 Done',end=',')
df2= pd.read_csv('../Notebook/chunk2.csv')
print(r'Chunk : 2 Done',end=',')
df3= pd.read_csv('../Notebook/chunk3.csv')
print(r'Chunk : 3 Done',end=',')
df4= pd.read_csv('../Notebook/chunk4.csv')
print(r'Chunk : 4 Done',end=',')
df5= pd.read_csv('../Notebook/chunk5.csv')
print(r'Chunk : 5 Done',end=',')
df6= pd.read_csv('../Notebook/chunk6.csv')
print(r'Chunk : 6 Done',end=',')
df7= pd.read_csv('../Notebook/chunk7.csv')
print(r'Chunk : 7 Done',end=',')
df8= pd.read_csv('../Notebook/chunk8.csv')
print(r'Chunk : 8 Done',end=',')
df9= pd.read_csv('../Notebook/chunk9.csv')
print(r'Chunk : 9 Done',end=',')
df10= pd.read_csv('../Notebook/chunk10.csv')
print(r'Chunk : 10 Done',end=',')
df11= pd.read_csv('../Notebook/chunk11.csv')
print(r'Chunk : 11 Done',end=',')
df12= pd.read_csv('../Notebook/chunk12.csv')
print(r'Chunk : 12 Done',end=',')
df13= pd.read_csv('../Notebook/chunk13.csv')
print(r'Chunk : 13 Done',end=',')
df14= pd.read_csv('../Notebook/chunk14.csv')
print(r'Chunk : 14 Done',end=',')
df15= pd.read_csv('../Notebook/chunk15.csv')
print(r'Chunk : 15 Done',end=',')
df16= pd.read_csv('../Notebook/chunk16.csv')
print(r'Chunk : 16 Done',end=',')
df17= pd.read_csv('../Notebook/chunk17.csv')
print(r'Chunk : 17 Done',end=',')
df18= pd.read_csv('../Notebook/chunk18.csv')
print(r'Chunk : 18 Done',end=',')
df19= pd.read_csv('../Notebook/chunk19.csv')
print(r'Chunk : 19 Done',end=',')
df20= pd.read_csv('../Notebook/chunk20.csv')
print(r'Chunk : 20 Done',end=',')
df21= pd.read_csv('../Notebook/chunk21.csv')
print(r'Chunk : 21 Done',end=',')
df22= pd.read_csv('../Notebook/chunk22.csv')
print(r'Chunk : 22 Done',end=',')
df23= pd.read_csv('../Notebook/chunk23.csv')
print(r'Chunk : 23 Done',end=',')
df24= pd.read_csv('../Notebook/chunk24.csv')
print(r'Chunk : 24 Done',end=',')
df25= pd.read_csv('../Notebook/chunk25.csv')
print(r'Chunk : 25 Done',end=',')
df26= pd.read_csv('../Notebook/chunk26.csv')
print(r'Chunk : 26 Done',end=',')
df27= pd.read_csv('../Notebook/chunk27.csv')
print(r'Chunk : 27 Done',end=',')
df28= pd.read_csv('../Notebook/chunk28.csv')
print(r'Chunk : 28 Done',end=',')
df29= pd.read_csv('../Notebook/chunk29.csv')
print(r'Chunk : 29 Done',end=',')
df30= pd.read_csv('../Notebook/chunk30.csv')
print(r'Chunk : 30 Done',end=',')
df31= pd.read_csv('../Notebook/chunk31.csv')
print(r'Chunk : 31 Done',end=',')
df32= pd.read_csv('../Notebook/chunk32.csv')
print(r'Chunk : 32 Done',end=',')
df33= pd.read_csv('../Notebook/chunk33.csv')
print(r'Chunk : 33 Done',end=',')
df34= pd.read_csv('../Notebook/chunk34.csv')
print(r'Chunk : 34 Done',end=',')
df35= pd.read_csv('../Notebook/chunk35.csv')
print(r'Chunk : 35 Done',end=',')
df36= pd.read_csv('../Notebook/chunk36.csv')
print(r'Chunk : 36 Done',end=',')
df37= pd.read_csv('../Notebook/chunk37.csv')
print(r'Chunk : 37 Done',end=',')
df38= pd.read_csv('../Notebook/chunk38.csv')
print(r'Chunk : 38 Done',end=',')
df39= pd.read_csv('../Notebook/chunk39.csv')
print(r'Chunk : 39 Done',end=',')
df40= pd.read_csv('../Notebook/chunk40.csv')
print(r'Chunk : 40 Done',end=',')
df41= pd.read_csv('../Notebook/chunk41.csv')
print(r'Chunk : 41 Done',end=',')
df42= pd.read_csv('../Notebook/chunk42.csv')
print(r'Chunk : 42 Done',end=',')
df43= pd.read_csv('../Notebook/chunk43.csv')
print(r'Chunk : 43 Done',end=',')
df44= pd.read_csv('../Notebook/chunk44.csv')
print(r'Chunk : 44 Done',end=',')
df45= pd.read_csv('../Notebook/chunk45.csv')
print(r'Chunk : 45 Done',end=',')
df46= pd.read_csv('../Notebook/chunk46.csv')
print(r'Chunk : 46 Done',end=',')
df47= pd.read_csv('../Notebook/chunk47.csv')
print(r'Chunk : 47 Done',end=',')
df48= pd.read_csv('../Notebook/chunk48.csv')
print(r'Chunk : 48 Done',end=',')
df49= pd.read_csv('../Notebook/chunk49.csv')
print(r'Chunk : 49 Done',end=',')
df50= pd.read_csv('../Notebook/chunk50.csv')
print(r'Chunk : 50 Done',end=',')
df51= pd.read_csv('../Notebook/chunk51.csv')
print(r'Chunk : 51 Done',end=',')
df52= pd.read_csv('../Notebook/chunk52.csv')
print(r'Chunk : 52 Done',end=',')
df53= pd.read_csv('../Notebook/chunk53.csv')
print(r'Chunk : 53 Done',end=',')
df54= pd.read_csv('../Notebook/chunk54.csv')
print(r'Chunk : 54 Done',end=',')
df55= pd.read_csv('../Notebook/chunk55.csv')
print(r'Chunk : 55 Done',end=',')
df56= pd.read_csv('../Notebook/chunk56.csv')
print(r'Chunk : 56 Done',end=',')
df57= pd.read_csv('../Notebook/chunk57.csv')
print(r'Chunk : 57 Done',end=',')
df58= pd.read_csv('../Notebook/chunk58.csv')
print(r'Chunk : 58 Done',end=',')
df59= pd.read_csv('../Notebook/chunk59.csv')
print(r'Chunk : 59 Done',end=',')
df60= pd.read_csv('../Notebook/chunk60.csv')
print(r'Chunk : 60 Done',end=',')
df61= pd.read_csv('../Notebook/chunk61.csv')
print(r'Chunk : 61 Done',end=',')
df62= pd.read_csv('../Notebook/chunk62.csv')
print(r'Chunk : 62 Done',end=',')
df63= pd.read_csv('../Notebook/chunk63.csv')
print(r'Chunk : 63 Done',end=',')
df64= pd.read_csv('../Notebook/chunk64.csv')
print(r'Chunk : 64 Done',end=',')
df65= pd.read_csv('../Notebook/chunk65.csv')
print(r'Chunk : 65 Done',end=',')
df66= pd.read_csv('../Notebook/chunk66.csv')
print(r'Chunk : 66 Done',end=',')
df67= pd.read_csv('../Notebook/chunk67.csv')
print(r'Chunk : 67 Done',end=',')
df68= pd.read_csv('../Notebook/chunk68.csv')
print(r'Chunk : 68 Done',end=',')
df69= pd.read_csv('../Notebook/chunk69.csv')
print(r'Chunk : 69 Done',end=',')
df70= pd.read_csv('../Notebook/chunk70.csv')
print(r'Chunk : 70 Done',end=',')
df71= pd.read_csv('../Notebook/chunk71.csv')
print(r'Chunk : 71 Done',end=',')
df72= pd.read_csv('../Notebook/chunk72.csv')
print(r'Chunk : 72 Done',end=',')
df73= pd.read_csv('../Notebook/chunk73.csv')
print(r'Chunk : 73 Done',end=',')
df74= pd.read_csv('../Notebook/chunk74.csv')
print(r'Chunk : 74 Done',end=',')
df75= pd.read_csv('../Notebook/chunk75.csv')
print(r'Chunk : 75 Done',end=',')
df76= pd.read_csv('../Notebook/chunk76.csv')
print(r'Chunk : 76 Done',end=',')
df77= pd.read_csv('../Notebook/chunk77.csv')
print(r'Chunk : 77 Done',end=',')
df78= pd.read_csv('../Notebook/chunk78.csv')
print(r'Chunk : 78 Done',end=',')
df79= pd.read_csv('../Notebook/chunk79.csv')
print(r'Chunk : 79 Done',end=',')
df80= pd.read_csv('../Notebook/chunk80.csv')
print(r'Chunk : 80 Done',end=',')
df81= pd.read_csv('../Notebook/chunk81.csv')
print(r'Chunk : 81 Done',end=',')
df82= pd.read_csv('../Notebook/chunk82.csv')
print(r'Chunk : 82 Done',end=',')
df83= pd.read_csv('../Notebook/chunk83.csv')
print(r'Chunk : 83 Done',end=',')
df84= pd.read_csv('../Notebook/chunk84.csv')
print(r'Chunk : 84 Done',end=',')
df85= pd.read_csv('../Notebook/chunk85.csv')
print(r'Chunk : 85 Done',end=',')
df86= pd.read_csv('../Notebook/chunk86.csv')
print(r'Chunk : 86 Done',end=',')
df87= pd.read_csv('../Notebook/chunk87.csv')
print(r'Chunk : 87 Done',end=',')
df88= pd.read_csv('../Notebook/chunk88.csv')
print(r'Chunk : 88 Done',end=',')
df89= pd.read_csv('../Notebook/chunk89.csv')
print(r'Chunk : 89 Done',end=',')
df90= pd.read_csv('../Notebook/chunk90.csv')
print(r'Chunk : 90 Done',end=',')
df91= pd.read_csv('../Notebook/chunk91.csv')
print(r'Chunk : 91 Done',end=',')
df92= pd.read_csv('../Notebook/chunk92.csv')
print(r'Chunk : 92 Done',end=',')
df93= pd.read_csv('../Notebook/chunk93.csv')
print(r'Chunk : 93 Done',end=',')
df94= pd.read_csv('../Notebook/chunk94.csv')
print(r'Chunk : 94 Done',end=',')
df95= pd.read_csv('../Notebook/chunk95.csv')
print(r'Chunk : 95 Done',end=',')
df96= pd.read_csv('../Notebook/chunk96.csv')
print(r'Chunk : 96 Done',end=',')
df97= pd.read_csv('../Notebook/chunk97.csv')
print(r'Chunk : 97 Done',end=',')
df98= pd.read_csv('../Notebook/chunk98.csv')
print(r'Chunk : 98 Done',end=',')
df99= pd.read_csv('../Notebook/chunk99.csv')
print(r'Chunk : 99 Done',end=',')
df100= pd.read_csv('../Notebook/chunk100.csv')
print(r'Chunk : 100 Done',end=',')
df101= pd.read_csv('../Notebook/chunk101.csv')
print(r'Chunk : 101 Done',end=',')
df102= pd.read_csv('../Notebook/chunk102.csv')
print(r'Chunk : 102 Done',end=',')
df103= pd.read_csv('../Notebook/chunk103.csv')
print(r'Chunk : 103 Done',end=',')
df104= pd.read_csv('../Notebook/chunk104.csv')
print(r'Chunk : 104 Done',end=',')
df105= pd.read_csv('../Notebook/chunk105.csv')
print(r'Chunk : 105 Done',end=',')
df106= pd.read_csv('../Notebook/chunk106.csv')
print(r'Chunk : 106 Done',end=',')
df107= pd.read_csv('../Notebook/chunk107.csv')
print(r'Chunk : 107 Done',end=',')
df108= pd.read_csv('../Notebook/chunk108.csv')
print(r'Chunk : 108 Done',end=',')
df109= pd.read_csv('../Notebook/chunk109.csv')
print(r'Chunk : 109 Done',end=',')
df110= pd.read_csv('../Notebook/chunk110.csv')
print(r'Chunk : 110 Done',end=',')
df111= pd.read_csv('../Notebook/chunk111.csv')
print(r'Chunk : 111 Done',end=',')
df112= pd.read_csv('../Notebook/chunk112.csv')
print(r'Chunk : 112 Done',end=',')
df113= pd.read_csv('../Notebook/chunk113.csv')
print(r'Chunk : 113 Done',end=',')
df114= pd.read_csv('../Notebook/chunk114.csv')
print(r'Chunk : 114 Done',end=',')
df115= pd.read_csv('../Notebook/chunk115.csv')
print(r'Chunk : 115 Done',end=',')
df116= pd.read_csv('../Notebook/chunk116.csv')
print(r'Chunk : 116 Done',end=',')
df117= pd.read_csv('../Notebook/chunk117.csv')
print(r'Chunk : 117 Done',end=',')
df118= pd.read_csv('../Notebook/chunk118.csv')
print(r'Chunk : 118 Done',end=',')
df119= pd.read_csv('../Notebook/chunk119.csv')
print(r'Chunk : 119 Done',end=',')
df120= pd.read_csv('../Notebook/chunk120.csv')
print(r'Chunk : 120 Done',end=',')
df121= pd.read_csv('../Notebook/chunk121.csv')
print(r'Chunk : 121 Done',end=',')
df122= pd.read_csv('../Notebook/chunk122.csv')
print(r'Chunk : 122 Done',end=',')
df123= pd.read_csv('../Notebook/chunk123.csv')
print(r'Chunk : 123 Done',end=',')
df124= pd.read_csv('../Notebook/chunk124.csv')
print(r'Chunk : 124 Done',end=',')
df125= pd.read_csv('../Notebook/chunk125.csv')
print(r'Chunk : 125 Done',end=',')
df126= pd.read_csv('../Notebook/chunk126.csv')
print(r'Chunk : 126 Done',end=',')
df127= pd.read_csv('../Notebook/chunk127.csv')
print(r'Chunk : 127 Done',end=',')
df128= pd.read_csv('../Notebook/chunk128.csv')
print(r'Chunk : 128 Done',end=',')
df129= pd.read_csv('../Notebook/chunk129.csv')
print(r'Chunk : 129 Done',end=',')
df130= pd.read_csv('../Notebook/chunk130.csv')
print(r'Chunk : 130 Done',end=',')
df131= pd.read_csv('../Notebook/chunk131.csv')
print(r'Chunk : 131 Done',end=',')
df132= pd.read_csv('../Notebook/chunk132.csv')
print(r'Chunk : 132 Done',end=',')
df133= pd.read_csv('../Notebook/chunk133.csv')
print(r'Chunk : 133 Done',end=',')
df134= pd.read_csv('../Notebook/chunk134.csv')
print(r'Chunk : 134 Done',end=',')
df135= pd.read_csv('../Notebook/chunk135.csv')
print(r'Chunk : 135 Done',end=',')
df136= pd.read_csv('../Notebook/chunk136.csv')
print(r'Chunk : 136 Done',end=',')
df137= pd.read_csv('../Notebook/chunk137.csv')
print(r'Chunk : 137 Done',end=',')
df138= pd.read_csv('../Notebook/chunk138.csv')
print(r'Chunk : 138 Done',end=',')
df139= pd.read_csv('../Notebook/chunk139.csv')
print(r'Chunk : 139 Done',end=',')
df140= pd.read_csv('../Notebook/chunk140.csv')
print(r'Chunk : 140 Done',end=',')
df141= pd.read_csv('../Notebook/chunk141.csv')
print(r'Chunk : 141 Done',end=',')
df142= pd.read_csv('../Notebook/chunk142.csv')
print(r'Chunk : 142 Done',end=',')
df143= pd.read_csv('../Notebook/chunk143.csv')
print(r'Chunk : 143 Done',end=',')
df144= pd.read_csv('../Notebook/chunk144.csv')
print(r'Chunk : 144 Done',end=',')
df145= pd.read_csv('../Notebook/chunk145.csv')
print(r'Chunk : 145 Done',end=',')
df146= pd.read_csv('../Notebook/chunk146.csv')
print(r'Chunk : 146 Done',end=',')
df147= pd.read_csv('../Notebook/chunk147.csv')
print(r'Chunk : 147 Done',end=',')
df148= pd.read_csv('../Notebook/chunk148.csv')
print(r'Chunk : 148 Done',end=',')
df149= pd.read_csv('../Notebook/chunk149.csv')
print(r'Chunk : 149 Done',end=',')
df150= pd.read_csv('../Notebook/chunk150.csv')
print(r'Chunk : 150 Done',end=',')
df151= pd.read_csv('../Notebook/chunk151.csv')
print(r'Chunk : 151 Done',end=',')
df152= pd.read_csv('../Notebook/chunk152.csv')
print(r'Chunk : 152 Done',end=',')
df153= pd.read_csv('../Notebook/chunk153.csv')
print(r'Chunk : 153 Done',end=',')
df154= pd.read_csv('../Notebook/chunk154.csv')
print(r'Chunk : 154 Done',end=',')
df155= pd.read_csv('../Notebook/chunk155.csv')
print(r'Chunk : 155 Done',end=',')
df156= pd.read_csv('../Notebook/chunk156.csv')
print(r'Chunk : 156 Done',end=',')
df157= pd.read_csv('../Notebook/chunk157.csv')
print(r'Chunk : 157 Done',end=',')
df158= pd.read_csv('../Notebook/chunk158.csv')
print(r'Chunk : 158 Done',end=',')
df159= pd.read_csv('../Notebook/chunk159.csv')
print(r'Chunk : 159 Done',end=',')
df160= pd.read_csv('../Notebook/chunk160.csv')
print(r'Chunk : 160 Done',end=',')
df161= pd.read_csv('../Notebook/chunk161.csv')
print(r'Chunk : 161 Done',end=',')
df162= pd.read_csv('../Notebook/chunk162.csv')
print(r'Chunk : 162 Done',end=',')
df163= pd.read_csv('../Notebook/chunk163.csv')
print(r'Chunk : 163 Done',end=',')
df164= pd.read_csv('../Notebook/chunk164.csv')
print(r'Chunk : 164 Done',end=',')
df165= pd.read_csv('../Notebook/chunk165.csv')
print(r'Chunk : 165 Done',end=',')
df166= pd.read_csv('../Notebook/chunk166.csv')
print(r'Chunk : 166 Done',end=',')
df167= pd.read_csv('../Notebook/chunk167.csv')
print(r'Chunk : 167 Done',end=',')
df168= pd.read_csv('../Notebook/chunk168.csv')
print(r'Chunk : 168 Done',end=',')
df169= pd.read_csv('../Notebook/chunk169.csv')
print(r'Chunk : 169 Done',end=',')
df170= pd.read_csv('../Notebook/chunk170.csv')
print(r'Chunk : 170 Done',end=',')
df171= pd.read_csv('../Notebook/chunk171.csv')
print(r'Chunk : 171 Done',end=',')
df172= pd.read_csv('../Notebook/chunk172.csv')
print(r'Chunk : 172 Done',end=',')
df173= pd.read_csv('../Notebook/chunk173.csv')
print(r'Chunk : 173 Done',end=',')
df174= pd.read_csv('../Notebook/chunk174.csv')
print(r'Chunk : 174 Done',end=',')
df175= pd.read_csv('../Notebook/chunk175.csv')
print(r'Chunk : 175 Done',end=',')
df176= pd.read_csv('../Notebook/chunk176.csv')
print(r'Chunk : 176 Done',end=',')
df177= pd.read_csv('../Notebook/chunk177.csv')
print(r'Chunk : 177 Done',end=',')
df178= pd.read_csv('../Notebook/chunk178.csv')
print(r'Chunk : 178 Done',end=',')
df179= pd.read_csv('../Notebook/chunk179.csv')
print(r'Chunk : 179 Done',end=',')
df180= pd.read_csv('../Notebook/chunk180.csv')
print(r'Chunk : 180 Done',end=',')
df181= pd.read_csv('../Notebook/chunk181.csv')
print(r'Chunk : 181 Done',end=',')
df182= pd.read_csv('../Notebook/chunk182.csv')
print(r'Chunk : 182 Done',end=',')
df183= pd.read_csv('../Notebook/chunk183.csv')
print(r'Chunk : 183 Done',end=',')
df184= pd.read_csv('../Notebook/chunk184.csv')
print(r'Chunk : 184 Done',end=',')
df185= pd.read_csv('../Notebook/chunk185.csv')
print(r'Chunk : 185 Done',end=',')
df186= pd.read_csv('../Notebook/chunk186.csv')
print(r'Chunk : 186 Done',end=',')
df187= pd.read_csv('../Notebook/chunk187.csv')
print(r'Chunk : 187 Done',end=',')
df188= pd.read_csv('../Notebook/chunk188.csv')
print(r'Chunk : 188 Done',end=',')
df189= pd.read_csv('../Notebook/chunk189.csv')
print(r'Chunk : 189 Done',end=',')
df190= pd.read_csv('../Notebook/chunk190.csv')
print(r'Chunk : 190 Done',end=',')
df191= pd.read_csv('../Notebook/chunk191.csv')
print(r'Chunk : 191 Done',end=',')
df192= pd.read_csv('../Notebook/chunk192.csv')
print(r'Chunk : 192 Done',end=',')
df193= pd.read_csv('../Notebook/chunk193.csv')
print(r'Chunk : 193 Done',end=',')
df194= pd.read_csv('../Notebook/chunk194.csv')
print(r'Chunk : 194 Done',end=',')
df195= pd.read_csv('../Notebook/chunk195.csv')
print(r'Chunk : 195 Done',end=',')
df196= pd.read_csv('../Notebook/chunk196.csv')
print(r'Chunk : 196 Done',end=',')
df197= pd.read_csv('../Notebook/chunk197.csv')
print(r'Chunk : 197 Done',end=',')
df198= pd.read_csv('../Notebook/chunk198.csv')
print(r'Chunk : 198 Done',end=',')
df199= pd.read_csv('../Notebook/chunk199.csv')
print(r'Chunk : 199 Done',end=',')
df200= pd.read_csv('../Notebook/chunk200.csv')
print(r'Chunk : 200 Done',end=',')
df201= pd.read_csv('../Notebook/chunk201.csv')
print(r'Chunk : 201 Done',end=',')
df202= pd.read_csv('../Notebook/chunk202.csv')
print(r'Chunk : 202 Done',end=',')
df203= pd.read_csv('../Notebook/chunk203.csv')
print(r'Chunk : 203 Done',end=',')
df204= pd.read_csv('../Notebook/chunk204.csv')
print(r'Chunk : 204 Done',end=',')
df205= pd.read_csv('../Notebook/chunk205.csv')
print(r'Chunk : 205 Done',end=',')
df206= pd.read_csv('../Notebook/chunk206.csv')
print(r'Chunk : 206 Done',end=',')
df207= pd.read_csv('../Notebook/chunk207.csv')
print(r'Chunk : 207 Done',end=',')
df208= pd.read_csv('../Notebook/chunk208.csv')
print(r'Chunk : 208 Done',end=',')
df209= pd.read_csv('../Notebook/chunk209.csv')
print(r'Chunk : 209 Done',end=',')
df210= pd.read_csv('../Notebook/chunk210.csv')
print(r'Chunk : 210 Done',end=',')
df211= pd.read_csv('../Notebook/chunk211.csv')
print(r'Chunk : 211 Done',end=',')
df212= pd.read_csv('../Notebook/chunk212.csv')
print(r'Chunk : 212 Done',end=',')
df213= pd.read_csv('../Notebook/chunk213.csv')
print(r'Chunk : 213 Done',end=',')
df214= pd.read_csv('../Notebook/chunk214.csv')
print(r'Chunk : 214 Done',end=',')
df215= pd.read_csv('../Notebook/chunk215.csv')
print(r'Chunk : 215 Done',end=',')
df216= pd.read_csv('../Notebook/chunk216.csv')
print(r'Chunk : 216 Done',end=',')
df217= pd.read_csv('../Notebook/chunk217.csv')
print(r'Chunk : 217 Done',end=',')
df218= pd.read_csv('../Notebook/chunk218.csv')
print(r'Chunk : 218 Done',end=',')
df219= pd.read_csv('../Notebook/chunk219.csv')
print(r'Chunk : 219 Done',end=',')
df220= pd.read_csv('../Notebook/chunk220.csv')
print(r'Chunk : 220 Done',end=',')
df221= pd.read_csv('../Notebook/chunk221.csv')
print(r'Chunk : 221 Done',end=',')
df222= pd.read_csv('../Notebook/chunk222.csv')
print(r'Chunk : 222 Done',end=',')
df223= pd.read_csv('../Notebook/chunk223.csv')
print(r'Chunk : 223 Done',end=',')
df224= pd.read_csv('../Notebook/chunk224.csv')
print(r'Chunk : 224 Done',end=',')
df225= pd.read_csv('../Notebook/chunk225.csv')
print(r'Chunk : 225 Done',end=',')
df226= pd.read_csv('../Notebook/chunk226.csv')
print(r'Chunk : 226 Done',end=',')
df227= pd.read_csv('../Notebook/chunk227.csv')
print(r'Chunk : 227 Done',end=',')
df228= pd.read_csv('../Notebook/chunk228.csv')
print(r'Chunk : 228 Done',end=',')
df229= pd.read_csv('../Notebook/chunk229.csv')
print(r'Chunk : 229 Done',end=',')
df230= pd.read_csv('../Notebook/chunk230.csv')
print(r'Chunk : 230 Done',end=',')
df231= pd.read_csv('../Notebook/chunk231.csv')
print(r'Chunk : 231 Done',end=',')
df232= pd.read_csv('../Notebook/chunk232.csv')
print(r'Chunk : 232 Done',end=',')
df233= pd.read_csv('../Notebook/chunk233.csv')
print(r'Chunk : 233 Done',end=',')
df234= pd.read_csv('../Notebook/chunk234.csv')
print(r'Chunk : 234 Done',end=',')
df235= pd.read_csv('../Notebook/chunk235.csv')
print(r'Chunk : 235 Done',end=',')
df236= pd.read_csv('../Notebook/chunk236.csv')
print(r'Chunk : 236 Done',end=',')
df237= pd.read_csv('../Notebook/chunk237.csv')
print(r'Chunk : 237 Done',end=',')
df238= pd.read_csv('../Notebook/chunk238.csv')
print(r'Chunk : 238 Done',end=',')
df239= pd.read_csv('../Notebook/chunk239.csv')
print(r'Chunk : 239 Done',end=',')
df240= pd.read_csv('../Notebook/chunk240.csv')
print(r'Chunk : 240 Done',end=',')
df241= pd.read_csv('../Notebook/chunk241.csv')
print(r'Chunk : 241 Done',end=',')
df242= pd.read_csv('../Notebook/chunk242.csv')
print(r'Chunk : 242 Done',end=',')
df243= pd.read_csv('../Notebook/chunk243.csv')
print(r'Chunk : 243 Done',end=',')
df244= pd.read_csv('../Notebook/chunk244.csv')
print(r'Chunk : 244 Done',end=',')
df245= pd.read_csv('../Notebook/chunk245.csv')
print(r'Chunk : 245 Done',end=',')
df246= pd.read_csv('../Notebook/chunk246.csv')
print(r'Chunk : 246 Done',end=',')
df247= pd.read_csv('../Notebook/chunk247.csv')
print(r'Chunk : 247 Done',end=',')
df248= pd.read_csv('../Notebook/chunk248.csv')
print(r'Chunk : 248 Done',end=',')
df249= pd.read_csv('../Notebook/chunk249.csv')
print(r'Chunk : 249 Done',end=',')
df250= pd.read_csv('../Notebook/chunk250.csv')
print(r'Chunk : 250 Done',end=',')
df251= pd.read_csv('../Notebook/chunk251.csv')
print(r'Chunk : 251 Done',end=',')
df252= pd.read_csv('../Notebook/chunk252.csv')
print(r'Chunk : 252 Done',end=',')
df253= pd.read_csv('../Notebook/chunk253.csv')
print(r'Chunk : 253 Done',end=',')
df254= pd.read_csv('../Notebook/chunk254.csv')
print(r'Chunk : 254 Done',end=',')
df255= pd.read_csv('../Notebook/chunk255.csv')
print(r'Chunk : 255 Done',end=',')
df256= pd.read_csv('../Notebook/chunk256.csv')
print(r'Chunk : 256 Done',end=',')
df257= pd.read_csv('../Notebook/chunk257.csv')
print(r'Chunk : 257 Done',end=',')
df258= pd.read_csv('../Notebook/chunk258.csv')
print(r'Chunk : 258 Done',end=',')
df259= pd.read_csv('../Notebook/chunk259.csv')
print(r'Chunk : 259 Done',end=',')
df260= pd.read_csv('../Notebook/chunk260.csv')
print(r'Chunk : 260 Done',end=',')
df261= pd.read_csv('../Notebook/chunk261.csv')
print(r'Chunk : 261 Done',end=',')
df262= pd.read_csv('../Notebook/chunk262.csv')
print(r'Chunk : 262 Done',end=',')
df263= pd.read_csv('../Notebook/chunk263.csv')
print(r'Chunk : 263 Done',end=',')
df264= pd.read_csv('../Notebook/chunk264.csv')
print(r'Chunk : 264 Done',end=',')
df265= pd.read_csv('../Notebook/chunk265.csv')
print(r'Chunk : 265 Done',end=',')
df266= pd.read_csv('../Notebook/chunk266.csv')
print(r'Chunk : 266 Done',end=',')
df267= pd.read_csv('../Notebook/chunk267.csv')
print(r'Chunk : 267 Done',end=',')
df268= pd.read_csv('../Notebook/chunk268.csv')
print(r'Chunk : 268 Done',end=',')
df269= pd.read_csv('../Notebook/chunk269.csv')
print(r'Chunk : 269 Done',end=',')
df270= pd.read_csv('../Notebook/chunk270.csv')
print(r'Chunk : 270 Done',end=',')
df271= pd.read_csv('../Notebook/chunk271.csv')
print(r'Chunk : 271 Done',end=',')
df272= pd.read_csv('../Notebook/chunk272.csv')
print(r'Chunk : 272 Done',end=',')
df273= pd.read_csv('../Notebook/chunk273.csv')
print(r'Chunk : 273 Done',end=',')
df274= pd.read_csv('../Notebook/chunk274.csv')
print(r'Chunk : 274 Done',end=',')
df275= pd.read_csv('../Notebook/chunk275.csv')
print(r'Chunk : 275 Done',end=',')
df276= pd.read_csv('../Notebook/chunk276.csv')
print(r'Chunk : 276 Done',end=',')
df277= pd.read_csv('../Notebook/chunk277.csv')
print(r'Chunk : 277 Done',end=',')
df278= pd.read_csv('../Notebook/chunk278.csv')
print(r'Chunk : 278 Done',end=',')
df279= pd.read_csv('../Notebook/chunk279.csv')
print(r'Chunk : 279 Done',end=',')
df280= pd.read_csv('../Notebook/chunk280.csv')
print(r'Chunk : 280 Done',end=',')
df281= pd.read_csv('../Notebook/chunk281.csv')
print(r'Chunk : 281 Done',end=',')
df282= pd.read_csv('../Notebook/chunk282.csv')
print(r'Chunk : 282 Done',end=',')
df283= pd.read_csv('../Notebook/chunk283.csv')
print(r'Chunk : 283 Done',end=',')
df284= pd.read_csv('../Notebook/chunk284.csv')
print(r'Chunk : 284 Done',end=',')
df285= pd.read_csv('../Notebook/chunk285.csv')
print(r'Chunk : 285 Done',end=',')
df286= pd.read_csv('../Notebook/chunk286.csv')
print(r'Chunk : 286 Done',end=',')
df287= pd.read_csv('../Notebook/chunk287.csv')
print(r'Chunk : 287 Done',end=',')
df288= pd.read_csv('../Notebook/chunk288.csv')
print(r'Chunk : 288 Done',end=',')
df289= pd.read_csv('../Notebook/chunk289.csv')
print(r'Chunk : 289 Done',end=',')
df290= pd.read_csv('../Notebook/chunk290.csv')
print(r'Chunk : 290 Done',end=',')
df291= pd.read_csv('../Notebook/chunk291.csv')
print(r'Chunk : 291 Done',end=',')
df292= pd.read_csv('../Notebook/chunk292.csv')
print(r'Chunk : 292 Done',end=',')
df293= pd.read_csv('../Notebook/chunk293.csv')
print(r'Chunk : 293 Done',end=',')
df294= pd.read_csv('../Notebook/chunk294.csv')
print(r'Chunk : 294 Done',end=',')
df295= pd.read_csv('../Notebook/chunk295.csv')
print(r'Chunk : 295 Done',end=',')
df296= pd.read_csv('../Notebook/chunk296.csv')
print(r'Chunk : 296 Done',end=',')
df297= pd.read_csv('../Notebook/chunk297.csv')
print(r'Chunk : 297 Done',end=',')
df298= pd.read_csv('../Notebook/chunk298.csv')
print(r'Chunk : 298 Done',end=',')
df299= pd.read_csv('../Notebook/chunk299.csv')
print(r'Chunk : 299 Done',end=',')
df300= pd.read_csv('../Notebook/chunk300.csv')
print(r'Chunk : 300 Done',end=',')
df301= pd.read_csv('../Notebook/chunk301.csv')
print(r'Chunk : 301 Done',end=',')
df302= pd.read_csv('../Notebook/chunk302.csv')
print(r'Chunk : 302 Done',end=',')
df303= pd.read_csv('../Notebook/chunk303.csv')
print(r'Chunk : 303 Done',end=',')
df304= pd.read_csv('../Notebook/chunk304.csv')
print(r'Chunk : 304 Done',end=',')
df305= pd.read_csv('../Notebook/chunk305.csv')
print(r'Chunk : 305 Done',end=',')
df306= pd.read_csv('../Notebook/chunk306.csv')
print(r'Chunk : 306 Done',end=',')
df307= pd.read_csv('../Notebook/chunk307.csv')
print(r'Chunk : 307 Done',end=',')
df308= pd.read_csv('../Notebook/chunk308.csv')
print(r'Chunk : 308 Done',end=',')
df309= pd.read_csv('../Notebook/chunk309.csv')
print(r'Chunk : 309 Done',end=',')
df310= pd.read_csv('../Notebook/chunk310.csv')
print(r'Chunk : 310 Done',end=',')
df311= pd.read_csv('../Notebook/chunk311.csv')
print(r'Chunk : 311 Done',end=',')
df312= pd.read_csv('../Notebook/chunk312.csv')
print(r'Chunk : 312 Done',end=',')
df313= pd.read_csv('../Notebook/chunk313.csv')
print(r'Chunk : 313 Done',end=',')
df314= pd.read_csv('../Notebook/chunk314.csv')
print(r'Chunk : 314 Done',end=',')
df315= pd.read_csv('../Notebook/chunk315.csv')
print(r'Chunk : 315 Done',end=',')
df316= pd.read_csv('../Notebook/chunk316.csv')
print(r'Chunk : 316 Done',end=',')
df317= pd.read_csv('../Notebook/chunk317.csv')
print(r'Chunk : 317 Done',end=',')
df318= pd.read_csv('../Notebook/chunk318.csv')
print(r'Chunk : 318 Done',end=',')
df319= pd.read_csv('../Notebook/chunk319.csv')
print(r'Chunk : 319 Done',end=',')
df320= pd.read_csv('../Notebook/chunk320.csv')
print(r'Chunk : 320 Done',end=',')
df321= pd.read_csv('../Notebook/chunk321.csv')
print(r'Chunk : 321 Done',end=',')
df322= pd.read_csv('../Notebook/chunk322.csv')
print(r'Chunk : 322 Done',end=',')
df323= pd.read_csv('../Notebook/chunk323.csv')
print(r'Chunk : 323 Done',end=',')
df324= pd.read_csv('../Notebook/chunk324.csv')
print(r'Chunk : 324 Done',end=',')
df325= pd.read_csv('../Notebook/chunk325.csv')
print(r'Chunk : 325 Done',end=',')
df326= pd.read_csv('../Notebook/chunk326.csv')
print(r'Chunk : 326 Done',end=',')
df327= pd.read_csv('../Notebook/chunk327.csv')
print(r'Chunk : 327 Done',end=',')
df328= pd.read_csv('../Notebook/chunk328.csv')
print(r'Chunk : 328 Done',end=',')
df329= pd.read_csv('../Notebook/chunk329.csv')
print(r'Chunk : 329 Done',end=',')
df330= pd.read_csv('../Notebook/chunk330.csv')
print(r'Chunk : 330 Done',end=',')
df331= pd.read_csv('../Notebook/chunk331.csv')
print(r'Chunk : 331 Done',end=',')
df332= pd.read_csv('../Notebook/chunk332.csv')
print(r'Chunk : 332 Done',end=',')
df333= pd.read_csv('../Notebook/chunk333.csv')
print(r'Chunk : 333 Done',end=',')
df334= pd.read_csv('../Notebook/chunk334.csv')
print(r'Chunk : 334 Done',end=',')
df335= pd.read_csv('../Notebook/chunk335.csv')
print(r'Chunk : 335 Done',end=',')
df336= pd.read_csv('../Notebook/chunk336.csv')
print(r'Chunk : 336 Done',end=',')
df337= pd.read_csv('../Notebook/chunk337.csv')
print(r'Chunk : 337 Done',end=',')
df338= pd.read_csv('../Notebook/chunk338.csv')
print(r'Chunk : 338 Done',end=',')
df339= pd.read_csv('../Notebook/chunk339.csv')
print(r'Chunk : 339 Done',end=',')
df340= pd.read_csv('../Notebook/chunk340.csv')
print(r'Chunk : 340 Done',end=',')
df341= pd.read_csv('../Notebook/chunk341.csv')
print(r'Chunk : 341 Done',end=',')
df342= pd.read_csv('../Notebook/chunk342.csv')
print(r'Chunk : 342 Done',end=',')
df343= pd.read_csv('../Notebook/chunk343.csv')
print(r'Chunk : 343 Done',end=',')
df344= pd.read_csv('../Notebook/chunk344.csv')
print(r'Chunk : 344 Done',end=',')
df345= pd.read_csv('../Notebook/chunk345.csv')
print(r'Chunk : 345 Done',end=',')
df346= pd.read_csv('../Notebook/chunk346.csv')
print(r'Chunk : 346 Done',end=',')
df347= pd.read_csv('../Notebook/chunk347.csv')
print(r'Chunk : 347 Done',end=',')
df348= pd.read_csv('../Notebook/chunk348.csv')
print(r'Chunk : 348 Done',end=',')
df349= pd.read_csv('../Notebook/chunk349.csv')
print(r'Chunk : 349 Done',end=',')
df350= pd.read_csv('../Notebook/chunk350.csv')
print(r'Chunk : 350 Done',end=',')
df351= pd.read_csv('../Notebook/chunk351.csv')
print(r'Chunk : 351 Done',end=',')
df352= pd.read_csv('../Notebook/chunk352.csv')
print(r'Chunk : 352 Done',end=',')
df353= pd.read_csv('../Notebook/chunk353.csv')
print(r'Chunk : 353 Done',end=',')
df354= pd.read_csv('../Notebook/chunk354.csv')
print(r'Chunk : 354 Done',end=',')
df355= pd.read_csv('../Notebook/chunk355.csv')
print(r'Chunk : 355 Done',end=',')
df356= pd.read_csv('../Notebook/chunk356.csv')
print(r'Chunk : 356 Done',end=',')
df357= pd.read_csv('../Notebook/chunk357.csv')
print(r'Chunk : 357 Done',end=',')
df358= pd.read_csv('../Notebook/chunk358.csv')
print(r'Chunk : 358 Done',end=',')
df359= pd.read_csv('../Notebook/chunk359.csv')
print(r'Chunk : 359 Done',end=',')
df360= pd.read_csv('../Notebook/chunk360.csv')
print(r'Chunk : 360 Done',end=',')
df361= pd.read_csv('../Notebook/chunk361.csv')
print(r'Chunk : 361 Done',end=',')
df362= pd.read_csv('../Notebook/chunk362.csv')
print(r'Chunk : 362 Done',end=',')
df363= pd.read_csv('../Notebook/chunk363.csv')
print(r'Chunk : 363 Done',end=',')
df364= pd.read_csv('../Notebook/chunk364.csv')
print(r'Chunk : 364 Done',end=',')
df365= pd.read_csv('../Notebook/chunk365.csv')
print(r'Chunk : 365 Done',end=',')
df366= pd.read_csv('../Notebook/chunk366.csv')
print(r'Chunk : 366 Done',end=',')
df367= pd.read_csv('../Notebook/chunk367.csv')
print(r'Chunk : 367 Done',end=',')
df368= pd.read_csv('../Notebook/chunk368.csv')
print(r'Chunk : 368 Done',end=',')
df369= pd.read_csv('../Notebook/chunk369.csv')
print(r'Chunk : 369 Done',end=',')
df370= pd.read_csv('../Notebook/chunk370.csv')
print(r'Chunk : 370 Done',end=',')
df371= pd.read_csv('../Notebook/chunk371.csv')
print(r'Chunk : 371 Done',end=',')
df372= pd.read_csv('../Notebook/chunk372.csv')
print(r'Chunk : 372 Done',end=',')
df373= pd.read_csv('../Notebook/chunk373.csv')
print(r'Chunk : 373 Done',end=',')
df374= pd.read_csv('../Notebook/chunk374.csv')
print(r'Chunk : 374 Done',end=',')
df375= pd.read_csv('../Notebook/chunk375.csv')
print(r'Chunk : 375 Done',end=',')
df376= pd.read_csv('../Notebook/chunk376.csv')
print(r'Chunk : 376 Done',end=',')
df377= pd.read_csv('../Notebook/chunk377.csv')
print(r'Chunk : 377 Done',end=',')
df378= pd.read_csv('../Notebook/chunk378.csv')
print(r'Chunk : 378 Done',end=',')
df379= pd.read_csv('../Notebook/chunk379.csv')
print(r'Chunk : 379 Done',end=',')
df380= pd.read_csv('../Notebook/chunk380.csv')
print(r'Chunk : 380 Done',end=',')
df381= pd.read_csv('../Notebook/chunk381.csv')
print(r'Chunk : 381 Done',end=',')
df382= pd.read_csv('../Notebook/chunk382.csv')
print(r'Chunk : 382 Done',end=',')
df383= pd.read_csv('../Notebook/chunk383.csv')
print(r'Chunk : 383 Done',end=',')
df384= pd.read_csv('../Notebook/chunk384.csv')
print(r'Chunk : 384 Done',end=',')
df385= pd.read_csv('../Notebook/chunk385.csv')
print(r'Chunk : 385 Done',end=',')
df386= pd.read_csv('../Notebook/chunk386.csv')
print(r'Chunk : 386 Done',end=',')
df387= pd.read_csv('../Notebook/chunk387.csv')
print(r'Chunk : 387 Done',end=',')
df388= pd.read_csv('../Notebook/chunk388.csv')
print(r'Chunk : 388 Done',end=',')
df389= pd.read_csv('../Notebook/chunk389.csv')
print(r'Chunk : 389 Done',end=',')
df390= pd.read_csv('../Notebook/chunk390.csv')
print(r'Chunk : 390 Done',end=',')
df391= pd.read_csv('../Notebook/chunk391.csv')
print(r'Chunk : 391 Done',end=',')
df392= pd.read_csv('../Notebook/chunk392.csv')
print(r'Chunk : 392 Done',end=',')
df393= pd.read_csv('../Notebook/chunk393.csv')
print(r'Chunk : 393 Done',end=',')
df394= pd.read_csv('../Notebook/chunk394.csv')
print(r'Chunk : 394 Done',end=',')
df395= pd.read_csv('../Notebook/chunk395.csv')
print(r'Chunk : 395 Done',end=',')
df396= pd.read_csv('../Notebook/chunk396.csv')
print(r'Chunk : 396 Done',end=',')
df397= pd.read_csv('../Notebook/chunk397.csv')
print(r'Chunk : 397 Done',end=',')
df398= pd.read_csv('../Notebook/chunk398.csv')
print(r'Chunk : 398 Done',end=',')
df399= pd.read_csv('../Notebook/chunk399.csv')
print(r'Chunk : 399 Done',end=',')
df400= pd.read_csv('../Notebook/chunk400.csv')
print(r'Chunk : 400 Done',end=',')
df401= pd.read_csv('../Notebook/chunk401.csv')
print(r'Chunk : 401 Done',end=',')
df402= pd.read_csv('../Notebook/chunk402.csv')
print(r'Chunk : 402 Done',end=',')
df403= pd.read_csv('../Notebook/chunk403.csv')
print(r'Chunk : 403 Done',end=',')
df404= pd.read_csv('../Notebook/chunk404.csv')
print(r'Chunk : 404 Done',end=',')
df405= pd.read_csv('../Notebook/chunk405.csv')
print(r'Chunk : 405 Done',end=',')
df406= pd.read_csv('../Notebook/chunk406.csv')
print(r'Chunk : 406 Done',end=',')
df407= pd.read_csv('../Notebook/chunk407.csv')
print(r'Chunk : 407 Done',end=',')
df408= pd.read_csv('../Notebook/chunk408.csv')
print(r'Chunk : 408 Done',end=',')
df409= pd.read_csv('../Notebook/chunk409.csv')
print(r'Chunk : 409 Done',end=',')
df410= pd.read_csv('../Notebook/chunk410.csv')
print(r'Chunk : 410 Done',end=',')
df411= pd.read_csv('../Notebook/chunk411.csv')
print(r'Chunk : 411 Done',end=',')
df412= pd.read_csv('../Notebook/chunk412.csv')
print(r'Chunk : 412 Done',end=',')
df413= pd.read_csv('../Notebook/chunk413.csv')
print(r'Chunk : 413 Done',end=',')
df414= pd.read_csv('../Notebook/chunk414.csv')
print(r'Chunk : 414 Done',end=',')
df415= pd.read_csv('../Notebook/chunk415.csv')
print(r'Chunk : 415 Done',end=',')
df416= pd.read_csv('../Notebook/chunk416.csv')
print(r'Chunk : 416 Done',end=',')
df417= pd.read_csv('../Notebook/chunk417.csv')
print(r'Chunk : 417 Done',end=',')
df418= pd.read_csv('../Notebook/chunk418.csv')
print(r'Chunk : 418 Done',end=',')
df419= pd.read_csv('../Notebook/chunk419.csv')
print(r'Chunk : 419 Done',end=',')
df420= pd.read_csv('../Notebook/chunk420.csv')
print(r'Chunk : 420 Done',end=',')
df421= pd.read_csv('../Notebook/chunk421.csv')
print(r'Chunk : 421 Done',end=',')
df422= pd.read_csv('../Notebook/chunk422.csv')
print(r'Chunk : 422 Done',end=',')
df423= pd.read_csv('../Notebook/chunk423.csv')
print(r'Chunk : 423 Done',end=',')
df424= pd.read_csv('../Notebook/chunk424.csv')
print(r'Chunk : 424 Done',end=',')

Chunk : 1 Done,Chunk : 2 Done,Chunk : 3 Done,Chunk : 4 Done,Chunk : 5 Done,Chunk : 6 Done,Chunk : 7 Done,Chunk : 8 Done,Chunk : 9 Done,Chunk : 10 Done,Chunk : 11 Done,Chunk : 12 Done,Chunk : 13 Done,Chunk : 14 Done,Chunk : 15 Done,Chunk : 16 Done,Chunk : 17 Done,Chunk : 18 Done,Chunk : 19 Done,Chunk : 20 Done,Chunk : 21 Done,Chunk : 22 Done,Chunk : 23 Done,Chunk : 24 Done,Chunk : 25 Done,Chunk : 26 Done,Chunk : 27 Done,Chunk : 28 Done,Chunk : 29 Done,Chunk : 30 Done,Chunk : 31 Done,Chunk : 32 Done,Chunk : 33 Done,Chunk : 34 Done,Chunk : 35 Done,Chunk : 36 Done,Chunk : 37 Done,Chunk : 38 Done,Chunk : 39 Done,Chunk : 40 Done,Chunk : 41 Done,Chunk : 42 Done,Chunk : 43 Done,Chunk : 44 Done,Chunk : 45 Done,Chunk : 46 Done,Chunk : 47 Done,Chunk : 48 Done,Chunk : 49 Done,Chunk : 50 Done,Chunk : 51 Done,Chunk : 52 Done,Chunk : 53 Done,Chunk : 54 Done,Chunk : 55 Done,Chunk : 56 Done,Chunk : 57 Done,Chunk : 58 Done,Chunk : 59 Done,Chunk : 60 Done,Chunk : 61 Done,Chunk : 62 Done,Chunk : 63 Done,Chunk : 64 Done,Chunk : 65 Done,Chunk : 66 Done,Chunk : 67 Done,Chunk : 68 Done,Chunk : 69 Done,Chunk : 70 Done,Chunk : 71 Done,Chunk : 72 Done,Chunk : 73 Done,Chunk : 74 Done,Chunk : 75 Done,Chunk : 76 Done,Chunk : 77 Done,Chunk : 78 Done,Chunk : 79 Done,Chunk : 80 Done,Chunk : 81 Done,Chunk : 82 Done,Chunk : 83 Done,Chunk : 84 Done,Chunk : 85 Done,Chunk : 86 Done,Chunk : 87 Done,Chunk : 88 Done,Chunk : 89 Done,Chunk : 90 Done,Chunk : 91 Done,Chunk : 92 Done,Chunk : 93 Done,Chunk : 94 Done,Chunk : 95 Done,Chunk : 96 Done,Chunk : 97 Done,Chunk : 98 Done,Chunk : 99 Done,Chunk : 100 Done,Chunk : 101 Done,Chunk : 102 Done,Chunk : 103 Done,Chunk : 104 Done,Chunk : 105 Done,Chunk : 106 Done,Chunk : 107 Done,Chunk : 108 Done,Chunk : 109 Done,Chunk : 110 Done,Chunk : 111 Done,Chunk : 112 Done,Chunk : 113 Done,Chunk : 114 Done,Chunk : 115 Done,Chunk : 116 Done,Chunk : 117 Done,Chunk : 118 Done,Chunk : 119 Done,Chunk : 120 Done,Chunk : 121 Done,Chunk : 122 Done,Chunk : 123 Done,Chunk : 124 Done,Chunk : 125 Done,Chunk : 126 Done,Chunk : 127 Done,Chunk : 128 Done,Chunk : 129 Done,Chunk : 130 Done,Chunk : 131 Done,Chunk : 132 Done,Chunk : 133 Done,Chunk : 134 Done,Chunk : 135 Done,Chunk : 136 Done,Chunk : 137 Done,Chunk : 138 Done,Chunk : 139 Done,Chunk : 140 Done,Chunk : 141 Done,Chunk : 142 Done,Chunk : 143 Done,Chunk : 144 Done,Chunk : 145 Done,Chunk : 146 Done,Chunk : 147 Done,Chunk : 148 Done,Chunk : 149 Done,Chunk : 150 Done,Chunk : 151 Done,Chunk : 152 Done,Chunk : 153 Done,Chunk : 154 Done,Chunk : 155 Done,Chunk : 156 Done,Chunk : 157 Done,Chunk : 158 Done,Chunk : 159 Done,Chunk : 160 Done,Chunk : 161 Done,Chunk : 162 Done,Chunk : 163 Done,Chunk : 164 Done,Chunk : 165 Done,Chunk : 166 Done,Chunk : 167 Done,Chunk : 168 Done,Chunk : 169 Done,Chunk : 170 Done,Chunk : 171 Done,Chunk : 172 Done,Chunk : 173 Done,Chunk : 174 Done,Chunk : 175 Done,Chunk : 176 Done,Chunk : 177 Done,Chunk : 178 Done,Chunk : 179 Done,Chunk : 180 Done,Chunk : 181 Done,Chunk : 182 Done,Chunk : 183 Done,Chunk : 184 Done,Chunk : 185 Done,Chunk : 186 Done,Chunk : 187 Done,Chunk : 188 Done,Chunk : 189 Done,Chunk : 190 Done,Chunk : 191 Done,Chunk : 192 Done,Chunk : 193 Done,Chunk : 194 Done,Chunk : 195 Done,Chunk : 196 Done,Chunk : 197 Done,Chunk : 198 Done,Chunk : 199 Done,Chunk : 200 Done,Chunk : 201 Done,Chunk : 202 Done,Chunk : 203 Done,Chunk : 204 Done,Chunk : 205 Done,Chunk : 206 Done,Chunk : 207 Done,Chunk : 208 Done,Chunk : 209 Done,Chunk : 210 Done,Chunk : 211 Done,Chunk : 212 Done,Chunk : 213 Done,Chunk : 214 Done,Chunk : 215 Done,Chunk : 216 Done,Chunk : 217 Done,Chunk : 218 Done,Chunk : 219 Done,Chunk : 220 Done,Chunk : 221 Done,Chunk : 222 Done,Chunk : 223 Done,Chunk : 224 Done,Chunk : 225 Done,Chunk : 226 Done,Chunk : 227 Done,Chunk : 228 Done,Chunk : 229 Done,Chunk : 230 Done,Chunk : 231 Done,Chunk : 232 Done,Chunk : 233 Done,Chunk : 234 Done,Chunk : 235 Done,Chunk : 236 Done,Chunk : 237 Done,Chunk : 238 Done,Chunk : 239 Done,Chunk : 240 Done,Chunk : 241 Done,Chunk : 242 Done,Chunk : 243 Done,Chunk : 244 Done,Chunk : 245 Done,Chunk : 246 Done,Chunk : 247 Done,Chunk : 248 Done,Chunk : 249 Done,Chunk : 250 Done,Chunk : 251 Done,Chunk : 252 Done,Chunk : 253 Done,Chunk : 254 Done,Chunk : 255 Done,Chunk : 256 Done,Chunk : 257 Done,Chunk : 258 Done,Chunk : 259 Done,Chunk : 260 Done,Chunk : 261 Done,Chunk : 262 Done,Chunk : 263 Done,Chunk : 264 Done,Chunk : 265 Done,Chunk : 266 Done,Chunk : 267 Done,Chunk : 268 Done,Chunk : 269 Done,Chunk : 270 Done,Chunk : 271 Done,Chunk : 272 Done,Chunk : 273 Done,Chunk : 274 Done,Chunk : 275 Done,Chunk : 276 Done,Chunk : 277 Done,Chunk : 278 Done,Chunk : 279 Done,Chunk : 280 Done,Chunk : 281 Done,Chunk : 282 Done,Chunk : 283 Done,Chunk : 284 Done,Chunk : 285 Done,Chunk : 286 Done,Chunk : 287 Done,Chunk : 288 Done,Chunk : 289 Done,Chunk : 290 Done,Chunk : 291 Done,Chunk : 292 Done,Chunk : 293 Done,Chunk : 294 Done,Chunk : 295 Done,Chunk : 296 Done,Chunk : 297 Done,Chunk : 298 Done,Chunk : 299 Done,Chunk : 300 Done,Chunk : 301 Done,Chunk : 302 Done,Chunk : 303 Done,Chunk : 304 Done,Chunk : 305 Done,Chunk : 306 Done,Chunk : 307 Done,Chunk : 308 Done,Chunk : 309 Done,Chunk : 310 Done,Chunk : 311 Done,Chunk : 312 Done,Chunk : 313 Done,Chunk : 314 Done,Chunk : 315 Done,Chunk : 316 Done,Chunk : 317 Done,Chunk : 318 Done,Chunk : 319 Done,Chunk : 320 Done,Chunk : 321 Done,Chunk : 322 Done,Chunk : 323 Done,Chunk : 324 Done,Chunk : 325 Done,Chunk : 326 Done,Chunk : 327 Done,Chunk : 328 Done,Chunk : 329 Done,Chunk : 330 Done,Chunk : 331 Done,Chunk : 332 Done,Chunk : 333 Done,Chunk : 334 Done,Chunk : 335 Done,Chunk : 336 Done,Chunk : 337 Done,Chunk : 338 Done,Chunk : 339 Done,Chunk : 340 Done,Chunk : 341 Done,Chunk : 342 Done,Chunk : 343 Done,Chunk : 344 Done,Chunk : 345 Done,Chunk : 346 Done,Chunk : 347 Done,Chunk : 348 Done,Chunk : 349 Done,Chunk : 350 Done,Chunk : 351 Done,Chunk : 352 Done,Chunk : 353 Done,Chunk : 354 Done,Chunk : 355 Done,Chunk : 356 Done,Chunk : 357 Done,Chunk : 358 Done,Chunk : 359 Done,Chunk : 360 Done,Chunk : 361 Done,Chunk : 362 Done,Chunk : 363 Done,Chunk : 364 Done,Chunk : 365 Done,Chunk : 366 Done,Chunk : 367 Done,Chunk : 368 Done,Chunk : 369 Done,Chunk : 370 Done,Chunk : 371 Done,Chunk : 372 Done,Chunk : 373 Done,Chunk : 374 Done,Chunk : 375 Done,Chunk : 376 Done,Chunk : 377 Done,Chunk : 378 Done,Chunk : 379 Done,Chunk : 380 Done,Chunk : 381 Done,Chunk : 382 Done,Chunk : 383 Done,Chunk : 384 Done,Chunk : 385 Done,Chunk : 386 Done,Chunk : 387 Done,Chunk : 388 Done,Chunk : 389 Done,Chunk : 390 Done,Chunk : 391 Done,Chunk : 392 Done,Chunk : 393 Done,Chunk : 394 Done,Chunk : 395 Done,Chunk : 396 Done,Chunk : 397 Done,Chunk : 398 Done,Chunk : 399 Done,Chunk : 400 Done,Chunk : 401 Done,Chunk : 402 Done,Chunk : 403 Done,Chunk : 404 Done,Chunk : 405 Done,Chunk : 406 Done,Chunk : 407 Done,Chunk : 408 Done,Chunk : 409 Done,Chunk : 410 Done,Chunk : 411 Done,Chunk : 412 Done,Chunk : 413 Done,Chunk : 414 Done,Chunk : 415 Done,Chunk : 416 Done,Chunk : 417 Done,Chunk : 418 Done,Chunk : 419 Done,Chunk : 420 Done,Chunk : 421 Done,Chunk : 422 Done,Chunk : 423 Done,Chunk : 424 Done,

frame = []
for i in range(401,425):
    frame.append(r'df'+str(i))
    print(r'df'+str(i),end=',')

In [5]:
frame1 = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50]

In [6]:
frame2 = [df51,df52,df53,df54,df55,df56,df57,df58,df59,df60,df61,df62,df63,df64,df65,df66,df67,df68,df69,df70,df71,df72,df73,df74,df75,df76,df77,df78,df79,df80,df81,df82,df83,df84,df85,df86,df87,df88,df89,df90,df91,df92,df93,df94,df95,df96,df97,df98,df99,df100]

In [7]:
frame3 = [
df101,df102,df103,df104,df105,df106,df107,df108,df109,df110,df111,df112,df113,df114,df115,df116,df117,df118,df119,df120,df121,df122,df123,df124,df125,df126,df127,df128,df129,df130,df131,df132,df133,df134,df135,df136,df137,df138,df139,df140,df141,df142,df143,df144,df145,df146,df147,df148,df149,df150]

In [8]:
frame4 = [df151,df152,df153,df154,df155,df156,df157,df158,df159,df160,df161,df162,df163,df164,df165,df166,df167,df168,df169,df170,df171,df172,df173,df174,df175,df176,df177,df178,df179,df180,df181,df182,df183,df184,df185,df186,df187,df188,df189,df190,df191,df192,df193,df194,df195,df196,df197,df198,df199,df200]

In [9]:
frame5 = [df201,df202,df203,df204,df205,df206,df207,df208,df209,df210,df211,df212,df213,df214,df215,df216,df217,df218,df219,df220,df221,df222,df223,df224,df225,df226,df227,df228,df229,df230,df231,df232,df233,df234,df235,df236,df237,df238,df239,df240,df241,df242,df243,df244,df245,df246,df247,df248,df249,df250]

In [10]:
frame6 = [df251,df252,df253,df254,df255,df256,df257,df258,df259,df260,df261,df262,df263,df264,df265,df266,df267,df268,df269,df270,df271,df272,df273,df274,df275,df276,df277,df278,df279,df280,df281,df282,df283,df284,df285,df286,df287,df288,df289,df290,df291,df292,df293,df294,df295,df296,df297,df298,df299,df300]

In [11]:
frame7 = [df301,df302,df303,df304,df305,df306,df307,df308,df309,df310,df311,df312,df313,df314,df315,df316,df317,df318,df319,df320,df321,df322,df323,df324,df325,df326,df327,df328,df329,df330,df331,df332,df333,df334,df335,df336,df337,df338,df339,df340,df341,df342,df343,df344,df345,df346,df347,df348,df349,df350]

In [12]:
frame8 = [df351,df352,df353,df354,df355,df356,df357,df358,df359,df360,df361,df362,df363,df364,df365,df366,df367,df368,df369,df370,df371,df372,df373,df374,df375,df376,df377,df378,df379,df380,df381,df382,df383,df384,df385,df386,df387,df388,df389,df390,df391,df392,df393,df394,df395,df396,df397,df398,df399,df400]

In [13]:
frame9 = [df401,df402,df403,df404,df405,df406,df407,df408,df409,df410,df411,df412,df413,df414,df415,df416,df417,df418,df419,df420,df421,df422,df423,df424]

In [14]:
dff1= pd.concat(frame1)
df1= dff1.sample(50000)
del df1['id']
del df1['content']
display(df1.head())

dff2= pd.concat(frame2)
df2= dff2.sample(50000)
del df2['id']
del df2['content']
display(df2.head())

,date,user,pc,url
26416,01/26/2010 15:02:51,KCF0045,PC-8845,http://amazonaws.com/Congregation_Baith_Israel...
19472,01/07/2010 08:06:33,DJB0159,PC-3907,http://eonline.com/Gregory_of_Nazianzus/sasima...
24319,01/06/2010 12:49:23,JJH0613,PC-9171,http://netteller.com/1984_Rajneeshee_bioterror...
7338,02/10/2010 17:33:48,MYD0978,PC-3401,http://nfl.com/Greece_runestones/dybeck/snzvyl...
39344,01/29/2010 15:30:37,LRR0148,PC-4275,http://nfl.com/Greece_runestones/dybeck/snzvyl...

,date,user,pc,url
15694,03/23/2010 09:33:09,CCW0031,PC-6286,http://slideshare.net/Buffalo_nickel/repunched...
6587,03/09/2010 16:35:21,KQC0708,PC-1622,http://wikimedia.org/Final_Fantasy_VI/overworl...
32414,03/23/2010 11:32:02,MAD0753,PC-5338,http://sparkstudios.com/French_colonization_of...
45407,03/16/2010 17:23:25,RSM0277,PC-2930,http://cbs.com/Bart_King/hordern/pnecragreryrp...
42184,02/23/2010 11:07:40,FIR0920,PC-5046,http://slideshare.net/Buffalo_nickel/repunched...

In [15]:
dff3= pd.concat(frame3)
df3= dff3.sample(50000)
del df3['id']
del df3['content']
display(df3.head())

dff4= pd.concat(frame4)
df4= dff4.sample(50000)
del df4['id']
del df4['content']
display(df4.head())

,date,user,pc,url
43792,05/03/2010 15:46:15,SEJ0677,PC-0507,http://statcounter.com/Rosa_Parks/kindhellip/p...
34099,04/19/2010 16:06:48,AGB0186,PC-8410,http://amazon.com/Caspian_expeditions_of_the_R...
40380,04/29/2010 12:43:51,CTW0500,PC-9777,http://clickbank.com/Act_of_Independence_of_Li...
23327,04/13/2010 14:25:21,AKC0924,PC-0985,http://googleusercontent.com/Harry_Chauvel/che...
4655,04/06/2010 15:55:57,NAH0503,PC-8267,http://paypal.com/Changeling_film/straczynski/...

,date,user,pc,url
23280,05/27/2010 08:35:33,IDO0176,PC-7886,http://evite.com/El_Greco/wethey/vairagbelkzyz...
11094,06/01/2010 15:36:34,HVB0037,PC-7979,http://wired.com/Chew_Valley_Lake/tadorna/pbzc...
44211,06/10/2010 14:24:59,CAB0614,PC-6638,http://imageshack.us/Bale_Out/pianes/qvegevqva...
25392,05/28/2010 10:43:27,WDD0366,PC-0155,http://ikea.com/Ray_Lindwall_with_the_Australi...
17988,06/15/2010 16:14:39,MAH0149,PC-6756,http://livejournal.com/Red_River_Trails/kittso...

In [16]:
dff5= pd.concat(frame5)
df5= dff5.sample(50000)
del df5['id']
del df5['content']
display(df5.head())

dff6= pd.concat(frame6)
df6= dff6.sample(50000)
del df6['id']
del df6['content']
display(df6.head())

,date,user,pc,url
20926,07/06/2010 11:36:28,WPR0368,PC-9842,http://swagbucks.com/Central_Coast_Mariners_FC...
15950,07/26/2010 12:40:04,ZJE0857,PC-9926,http://chicagotribune.com/Javan_Rhinoceros/kul...
4752,07/07/2010 11:32:33,SEJ0677,PC-0507,http://nfl.com/Greece_runestones/dybeck/snzvyl...
13736,07/12/2010 11:48:27,CCH0685,PC-7039,http://wellsfargo.com/Benjamin_Harrison/harris...
4922,07/21/2010 11:57:23,QRM0739,PC-7343,http://retailmenot.com/2012_phenomenon/aveni/j...

,date,user,pc,url
29152,08/15/2010 11:05:16,HVB0037,PC-7979,http://optmd.com/Imagination_magazine/mahaffey...
12552,08/11/2010 11:45:34,BBS0422,PC-4551,http://wordpress.org/The_Green_Dartmouth_Colle...
40327,08/18/2010 13:14:33,WKF0012,PC-9966,http://shareasale.com/1962_South_Vietnamese_In...
40591,08/31/2010 13:36:53,BJH0354,PC-1332,http://slideshare.net/Buffalo_nickel/repunched...
5475,08/30/2010 13:05:17,LBF0214,PC-3819,http://fiverr.com/Parkinsons_disease/levodopa/...

In [17]:
dff7= pd.concat(frame7)
df7= dff7.sample(50000)
del df7['id']
del df7['content']
display(df7.head())

dff8= pd.concat(frame8)
df8= dff8.sample(50000)
del df8['id']
del df8['content']
display(df8.head())

,date,user,pc,url
31482,09/29/2010 12:14:53,RZC0746,PC-7500,http://slideshare.net/Buffalo_nickel/repunched...
1616,10/19/2010 09:20:06,HDS0367,PC-8680,http://live.com/Banksia_verticillata/torndirru...
47445,09/10/2010 10:42:54,IDO0176,PC-7886,http://verizon.com/2006_Westchester_County_tor...
7088,09/21/2010 14:28:19,JML0909,PC-0724,http://nbc.com/Germany/lnder/ercnvenccyvpngvba...
26554,09/20/2010 14:30:40,GTD0898,PC-5066,http://pcmag.com/Order_of_Canada/morgentaler/f...

,date,user,pc,url
1696,10/28/2010 07:31:25,EIS0041,PC-9255,http://conduit.com/Brazilian_battleship_Minas_...
31788,11/15/2010 08:42:17,QSV0778,PC-5952,http://stackoverflow.com/Alien_vs_Predator_fil...
10090,11/19/2010 16:38:40,SBN0866,PC-8714,http://ca.gov/Rock_Martin/obsoleta/nppbzcnavzr...
28194,12/06/2010 07:45:39,HTH0007,PC-8851,http://logmein.com/Ernst_Lindemann/ltjens/zbgb...
20855,12/07/2010 09:35:00,NKH0807,PC-3000,http://baidu.com/Ariel_moon/uranian/grnzfbsggr...

In [18]:
dff9= pd.concat(frame9)
df9= dff9.sample(50000)
del df9['id']
del df9['content']

display(df9.head())

,date,user,pc,url
41882,12/15/2010 09:14:06,AJR0319,PC-4736,http://espn.go.com/Tropical_Storm_Nicole_2010/...
4635,12/17/2010 10:13:42,RGN0408,PC-3687,http://shareasale.com/1962_South_Vietnamese_In...
15416,12/21/2010 16:46:05,SGG0787,PC-3953,http://paypal.com/Changeling_film/straczynski/...
17436,12/09/2010 08:30:24,CLF0852,PC-0647,http://imdb.com/George_Fox/swarthmoor/vagrearg...
4961,12/28/2010 09:08:13,JLW0053,PC-5833,http://outbrain.com/Master_Chief_Halo/cortana/...

In [20]:
frame = [df1,df2,df3,df4,df5,df6,df7,df8,df9]
df = pd.concat(frame)

In [21]:
um.exportFile(df,'http')

Exporting http_copy.csv is Done !

# Verify

In [22]:
from Modules import modules as md
from Modules import usermodules as um
import pandas as pd

In [24]:
df1 = md.ReadDataset('http_copy')

In [25]:
df1.head()

,date,user,pc,url
0,01/26/2010 15:02:51,KCF0045,PC-8845,http://amazonaws.com/Congregation_Baith_Israel...
1,01/07/2010 08:06:33,DJB0159,PC-3907,http://eonline.com/Gregory_of_Nazianzus/sasima...
2,01/06/2010 12:49:23,JJH0613,PC-9171,http://netteller.com/1984_Rajneeshee_bioterror...
3,02/10/2010 17:33:48,MYD0978,PC-3401,http://nfl.com/Greece_runestones/dybeck/snzvyl...
4,01/29/2010 15:30:37,LRR0148,PC-4275,http://nfl.com/Greece_runestones/dybeck/snzvyl...

#