# For File

In [1]:
import sys
sys.path.append('../Modules/')
import modules as md
import usermodules as um
import pandas as pd

In [2]:
df = md.ReadDataset('r4.2/file')

In [3]:
display(df.shape)
display(df.head())
display(df.tail())

(445581, 6)

,id,date,user,pc,filename,content
0,{L9G8-J9QE34VM-2834VDPB},01/02/2010 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...
1,{H0W6-L4FG38XG-9897XTEN},01/02/2010 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...
2,{M3Z0-O2KK89OX-5716MBIM},01/02/2010 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...
3,{E1I4-S4QS61TG-3652YHKR},01/02/2010 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...
4,{D4R7-E7JL45UX-0067XALT},01/02/2010 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8

,id,date,user,pc,filename,content
445576,{J2Q8-Z4UX02QT-2675RTJI},05/16/2011 23:22:31,IBB0359,PC-3620,R8DTDN2Q.txt,5A-44-4F-39 government operations led wound co...
445577,{S3G4-K5PB37EL-4663ADOI},05/16/2011 23:22:32,IBB0359,PC-3620,BLHCRL6W.pdf,25-50-44-46-2D throughout 20 once armed southe...
445578,{G6G8-X7JK94JA-2703OXCY},05/16/2011 23:22:33,IBB0359,PC-3620,ZHMDTTW0.doc,D0-CF-11-E0-A1-B1-1A-E1 companies river englan...
445579,{H8U9-F5GM78QB-9540DSQM},05/16/2011 23:22:33,IBB0359,PC-3620,AC0QL6KF.pdf,25-50-44-46-2D member august observed selected...
445580,{O7W5-J7UI71TW-2695JVNC},05/16/2011 23:22:34,IBB0359,PC-3620,OQYLA67J.doc,D0-CF-11-E0-A1-B1-1A-E1 insurance which brothe...

In [4]:
#conver to date time
um.convertToDateTime(df,'date')

                         id                date     user       pc  \
0  {L9G8-J9QE34VM-2834VDPB} 2010-01-02 07:23:14  MOH0273  PC-6699
1  {H0W6-L4FG38XG-9897XTEN} 2010-01-02 07:26:19  MOH0273  PC-6699
2  {M3Z0-O2KK89OX-5716MBIM} 2010-01-02 08:12:03  HPH0075  PC-2417
3  {E1I4-S4QS61TG-3652YHKR} 2010-01-02 08:17:00  HPH0075  PC-2417
4  {D4R7-E7JL45UX-0067XALT} 2010-01-02 08:24:57  HSB0196  PC-8001

       filename                                            content
0  EYPC9Y08.doc  D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...
1  N3LTSU3O.pdf  25-50-44-46-2D carpenters 25 landed strait dis...
2  D3D3WC9W.doc  D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...
3  QCSW62YS.doc  D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...
4  AU75JV6U.jpg                                              FF-D8

In [5]:
#re visualize
display(df.shape)
display(df.head())
display(df.tail())

(445581, 6)

,id,date,user,pc,filename,content
0,{L9G8-J9QE34VM-2834VDPB},2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...
1,{H0W6-L4FG38XG-9897XTEN},2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...
2,{M3Z0-O2KK89OX-5716MBIM},2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...
3,{E1I4-S4QS61TG-3652YHKR},2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...
4,{D4R7-E7JL45UX-0067XALT},2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8

,id,date,user,pc,filename,content
445576,{J2Q8-Z4UX02QT-2675RTJI},2011-05-16 23:22:31,IBB0359,PC-3620,R8DTDN2Q.txt,5A-44-4F-39 government operations led wound co...
445577,{S3G4-K5PB37EL-4663ADOI},2011-05-16 23:22:32,IBB0359,PC-3620,BLHCRL6W.pdf,25-50-44-46-2D throughout 20 once armed southe...
445578,{G6G8-X7JK94JA-2703OXCY},2011-05-16 23:22:33,IBB0359,PC-3620,ZHMDTTW0.doc,D0-CF-11-E0-A1-B1-1A-E1 companies river englan...
445579,{H8U9-F5GM78QB-9540DSQM},2011-05-16 23:22:33,IBB0359,PC-3620,AC0QL6KF.pdf,25-50-44-46-2D member august observed selected...
445580,{O7W5-J7UI71TW-2695JVNC},2011-05-16 23:22:34,IBB0359,PC-3620,OQYLA67J.doc,D0-CF-11-E0-A1-B1-1A-E1 insurance which brothe...

In [6]:
df1 = df.copy()

In [7]:
df1['year'] = df1['date'].dt.year

In [8]:
display(df1.shape)
display(df1.head())
display(df1.tail())

(445581, 7)

,id,date,user,pc,filename,content,year
0,{L9G8-J9QE34VM-2834VDPB},2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,2010
1,{H0W6-L4FG38XG-9897XTEN},2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...,2010
2,{M3Z0-O2KK89OX-5716MBIM},2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...,2010
3,{E1I4-S4QS61TG-3652YHKR},2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...,2010
4,{D4R7-E7JL45UX-0067XALT},2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8,2010

,id,date,user,pc,filename,content,year
445576,{J2Q8-Z4UX02QT-2675RTJI},2011-05-16 23:22:31,IBB0359,PC-3620,R8DTDN2Q.txt,5A-44-4F-39 government operations led wound co...,2011
445577,{S3G4-K5PB37EL-4663ADOI},2011-05-16 23:22:32,IBB0359,PC-3620,BLHCRL6W.pdf,25-50-44-46-2D throughout 20 once armed southe...,2011
445578,{G6G8-X7JK94JA-2703OXCY},2011-05-16 23:22:33,IBB0359,PC-3620,ZHMDTTW0.doc,D0-CF-11-E0-A1-B1-1A-E1 companies river englan...,2011
445579,{H8U9-F5GM78QB-9540DSQM},2011-05-16 23:22:33,IBB0359,PC-3620,AC0QL6KF.pdf,25-50-44-46-2D member august observed selected...,2011
445580,{O7W5-J7UI71TW-2695JVNC},2011-05-16 23:22:34,IBB0359,PC-3620,OQYLA67J.doc,D0-CF-11-E0-A1-B1-1A-E1 insurance which brothe...,2011

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445581 entries, 0 to 445580
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        445581 non-null  object
 1   date      445581 non-null  datetime64[ns]
 2   user      445581 non-null  object
 3   pc        445581 non-null  object
 4   filename  445581 non-null  object
 5   content   445581 non-null  object
 6   year      445581 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 23.8+ MB

In [10]:
df1.year.unique()

array([2010, 2011])

In [11]:
new_df = df1[df1['date'].dt.year == 2010]

In [12]:
display(new_df.shape)
display(new_df.head())
display(new_df.tail())

(334459, 7)

,id,date,user,pc,filename,content,year
0,{L9G8-J9QE34VM-2834VDPB},2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,2010
1,{H0W6-L4FG38XG-9897XTEN},2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...,2010
2,{M3Z0-O2KK89OX-5716MBIM},2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...,2010
3,{E1I4-S4QS61TG-3652YHKR},2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...,2010
4,{D4R7-E7JL45UX-0067XALT},2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8,2010

,id,date,user,pc,filename,content,year
334454,{X9I5-L0JV04NW-6985QZQD},2010-12-31 17:26:12,HRB0351,PC-0697,6PYAU6YM.doc,D0-CF-11-E0-A1-B1-1A-E1 depth institution aver...,2010
334455,{Y7M6-R3HR89ON-5227CAQX},2010-12-31 17:26:50,HRB0351,PC-0697,8F6V1GIB.zip,50-4B-03-04-14 brought down short maximum enou...,2010
334456,{Y2P9-V7NS28YG-9885ZTAF},2010-12-31 17:27:17,HRB0351,PC-0697,L57EEEU4.pdf,25-50-44-46-2D designated awarded superior sav...,2010
334457,{V8L0-U2FZ16OR-4357ECRY},2010-12-31 18:54:05,AJF0370,PC-3978,REPRB3TE.txt,4B-53-4B-37 mammals fear us consequences conse...,2010
334458,{T9I4-Q5QM14FH-5735QYEO},2010-12-31 18:56:23,AJF0370,PC-3978,08APT2N5.pdf,25-50-44-46-2D dcn strengthen muscular seemed ...,2010

In [18]:
del new_df['id']
del new_df['year']

In [19]:
#export new data frame
um.exportFile(new_df,'file')

Exporting file_copy.csv is Done !

# New Instance

In [21]:
from Modules import modules as md
from Modules import usermodules as um
import pandas as pd

In [22]:
df1 = md.ReadDataset('file_copy')

In [23]:
df1.head()

,date,user,pc,filename,content
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...
1,2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...
2,2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...
3,2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...
4,2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8