# For Logon

In [1]:
from Modules import modules as md
from Modules import usermodules as um
import pandas as pd

In [2]:
df = md.ReadDataset('r4.2/logon')

In [3]:
display(df.shape)
display(df.head())
display(df.tail())

(854859, 5)

                         id                 date     user       pc activity
0  {X1D9-S0ES98JV-5357PWMI}  01/02/2010 06:49:00  NGF0157  PC-6056    Logon
1  {G2B3-L6EJ61GT-2222RKSO}  01/02/2010 06:50:00  LRR0148  PC-4275    Logon
2  {U6Q3-U0WE70UA-3770UREL}  01/02/2010 06:53:04  LRR0148  PC-4124    Logon
3  {I0N5-R7NA26TG-6263KNGM}  01/02/2010 07:00:00  IRM0931  PC-7188    Logon
4  {D1S0-N6FH62BT-5398KANK}  01/02/2010 07:00:00  MOH0273  PC-6699    Logon

,id,date,user,pc,activity
854854,{J8R2-H0FA17MQ-9304VEVQ},05/17/2011 04:40:33,JDF0593,PC-6301,Logoff
854855,{P3L5-A2AC53JU-4012GIRD},05/17/2011 05:21:58,MLM0950,PC-9787,Logoff
854856,{P2S0-P1JS62IF-2767BEPH},05/17/2011 05:25:33,IRM0931,PC-7188,Logon
854857,{Z2U6-I8MA03NC-4963HKBH},05/17/2011 06:23:48,IRM0931,PC-7188,Logoff
854858,{T0U1-P7DT83QQ-7295ICZR},05/17/2011 06:43:35,BJM0111,PC-6866,Logoff

In [4]:
#conver to date time
um.convertToDateTime(df,'date')

                         id                date     user       pc activity
0  {X1D9-S0ES98JV-5357PWMI} 2010-01-02 06:49:00  NGF0157  PC-6056    Logon
1  {G2B3-L6EJ61GT-2222RKSO} 2010-01-02 06:50:00  LRR0148  PC-4275    Logon
2  {U6Q3-U0WE70UA-3770UREL} 2010-01-02 06:53:04  LRR0148  PC-4124    Logon
3  {I0N5-R7NA26TG-6263KNGM} 2010-01-02 07:00:00  IRM0931  PC-7188    Logon
4  {D1S0-N6FH62BT-5398KANK} 2010-01-02 07:00:00  MOH0273  PC-6699    Logon

In [5]:
#re visualize
display(df.shape)
display(df.head())
display(df.tail())

(854859, 5)

                         id                date     user       pc activity
0  {X1D9-S0ES98JV-5357PWMI} 2010-01-02 06:49:00  NGF0157  PC-6056    Logon
1  {G2B3-L6EJ61GT-2222RKSO} 2010-01-02 06:50:00  LRR0148  PC-4275    Logon
2  {U6Q3-U0WE70UA-3770UREL} 2010-01-02 06:53:04  LRR0148  PC-4124    Logon
3  {I0N5-R7NA26TG-6263KNGM} 2010-01-02 07:00:00  IRM0931  PC-7188    Logon
4  {D1S0-N6FH62BT-5398KANK} 2010-01-02 07:00:00  MOH0273  PC-6699    Logon

,id,date,user,pc,activity
854854,{J8R2-H0FA17MQ-9304VEVQ},2011-05-17 04:40:33,JDF0593,PC-6301,Logoff
854855,{P3L5-A2AC53JU-4012GIRD},2011-05-17 05:21:58,MLM0950,PC-9787,Logoff
854856,{P2S0-P1JS62IF-2767BEPH},2011-05-17 05:25:33,IRM0931,PC-7188,Logon
854857,{Z2U6-I8MA03NC-4963HKBH},2011-05-17 06:23:48,IRM0931,PC-7188,Logoff
854858,{T0U1-P7DT83QQ-7295ICZR},2011-05-17 06:43:35,BJM0111,PC-6866,Logoff

In [6]:
df1 = df.copy()

In [7]:
df1['year'] = df1['date'].dt.year

In [9]:
df1.year.unique()

array([2010, 2011])

In [10]:
display(df1.shape)
display(df1.head())
display(df1.tail())

(854859, 6)

,id,date,user,pc,activity,year
0,{X1D9-S0ES98JV-5357PWMI},2010-01-02 06:49:00,NGF0157,PC-6056,Logon,2010
1,{G2B3-L6EJ61GT-2222RKSO},2010-01-02 06:50:00,LRR0148,PC-4275,Logon,2010
2,{U6Q3-U0WE70UA-3770UREL},2010-01-02 06:53:04,LRR0148,PC-4124,Logon,2010
3,{I0N5-R7NA26TG-6263KNGM},2010-01-02 07:00:00,IRM0931,PC-7188,Logon,2010
4,{D1S0-N6FH62BT-5398KANK},2010-01-02 07:00:00,MOH0273,PC-6699,Logon,2010

,id,date,user,pc,activity,year
854854,{J8R2-H0FA17MQ-9304VEVQ},2011-05-17 04:40:33,JDF0593,PC-6301,Logoff,2011
854855,{P3L5-A2AC53JU-4012GIRD},2011-05-17 05:21:58,MLM0950,PC-9787,Logoff,2011
854856,{P2S0-P1JS62IF-2767BEPH},2011-05-17 05:25:33,IRM0931,PC-7188,Logon,2011
854857,{Z2U6-I8MA03NC-4963HKBH},2011-05-17 06:23:48,IRM0931,PC-7188,Logoff,2011
854858,{T0U1-P7DT83QQ-7295ICZR},2011-05-17 06:43:35,BJM0111,PC-6866,Logoff,2011

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854859 entries, 0 to 854858
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        854859 non-null  object
 1   date      854859 non-null  datetime64[ns]
 2   user      854859 non-null  object
 3   pc        854859 non-null  object
 4   activity  854859 non-null  object
 5   year      854859 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 39.1+ MB

In [12]:
new_df = df1[df1['date'].dt.year == 2010]

In [ ]:
display(new_df.shape)
display(new_df.head())
display(new_df.tail())

In [ ]:
del df1['id']
del df1['year']

In [ ]:
#export new data frame
um.exportFile(new_df,'device')

# New Instance

In [5]:
import sys
sys.path.append('../Modules/')

In [6]:
import modules as md
import usermodules as um
import pandas as pd

In [7]:
df1 = md.ReadDataset('logon_copy')

In [8]:
df1.head()

                  date     user       pc activity
0  2010-01-02 06:49:00  NGF0157  PC-6056    Logon
1  2010-01-02 06:50:00  LRR0148  PC-4275    Logon
2  2010-01-02 06:53:04  LRR0148  PC-4124    Logon
3  2010-01-02 07:00:00  IRM0931  PC-7188    Logon
4  2010-01-02 07:00:00  MOH0273  PC-6699    Logon

In [ ]:
start_date = '2010-03'
end_date = '2010-11'
df2 = md.ChooseDataBetweenTwoDate(df1,start_date,end_date)

In [ ]:
display(df2.shape)
display(df2.head())
display(df2.tail())