In [1]:
import sys
sys.path.append('../Modules/')
import modules as md
import usermodules as um
import pandas as pd

In [2]:
file = md.ReadDataset('file_copy')
display(file.head())
display(file.shape)

,date,user,pc,filename,content
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...
1,2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...
2,2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...
3,2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...
4,2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8

(334459, 5)

In [3]:
role = md.ReadDataset('user_role_copy')
role = role.rename(columns={"user_id":"user"})
display(role.head())
display(role.shape)

,employee_name,user,email,role,department
0,Calvin Edan Love,CEL0561,Calvin.Edan.Love@dtaa.com,ComputerProgrammer,2 - SoftwareManagement
1,Christine Reagan Deleon,CRD0624,Christine.Reagan.Deleon@dtaa.com,Salesman,2 - Sales
2,Jade Felicia Caldwell,JFC0557,Jade.Felicia.Caldwell@dtaa.com,SoftwareEngineer,2 - SoftwareManagement
3,Aquila Stewart Dejesus,ASD0577,Aquila.Stewart.Dejesus@dtaa.com,ProductionLineWorker,3 - Assembly
4,Micah Abdul Rojas,MAR0955,Micah.Abdul.Rojas@dtaa.com,ProductionLineWorker,3 - Assembly

(11449, 5)

In [4]:
df = pd.merge(file,role,on='user')
display(df.head())
display(df.shape)

,date,user,pc,filename,content,employee_name,email,role,department
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
1,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
2,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
3,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
4,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering

(3881935, 9)

In [5]:
df.isna().sum()

date                 0
user                 0
pc                   0
filename             0
content              0
employee_name        0
email                0
role                 0
department       26136
dtype: int64

In [6]:
df[df['department'].isnull()].index.tolist()

[1902246,
 1902247,
 1902248,
 1902249,
 1902250,
 1902251,
 1902252,
 1902253,
 1902254,
 1902255,
 1902256,
 1902257,
 1902258,
 1902259,
 1902260,
 1902261,
 1902262,
 1902263,
 1902264,
 1902265,
 1902266,
 1902267,
 1902268,
 1902269,
 1902270,
 1902271,
 1902272,
 1902273,
 1902274,
 1902275,
 1902276,
 1902277,
 1902278,
 1902279,
 1902280,
 1902281,
 1902282,
 1902283,
 1902284,
 1902285,
 1902286,
 1902287,
 1902288,
 1902289,
 1902290,
 1902291,
 1902292,
 1902293,
 1902294,
 1902295,
 1902296,
 1902297,
 1902298,
 1902299,
 1902300,
 1902301,
 1902302,
 1902303,
 1902304,
 1902305,
 1902306,
 1902307,
 1902308,
 1902309,
 1902310,
 1902311,
 1902312,
 1902313,
 1902314,
 1902315,
 1902316,
 1902317,
 1902318,
 1902319,
 1902320,
 1902321,
 1902322,
 1902323,
 1902324,
 1902325,
 1902326,
 1902327,
 1902328,
 1902329,
 1902330,
 1902331,
 1902332,
 1902333,
 1902334,
 1902335,
 1902336,
 1902337,
 1902338,
 1902339,
 1902340,
 1902341,
 1902342,
 1902343,
 1902344,
 1902345,
 1902346,
 1902347,
 1902348,
 1902349,
 1902350,
 1902351,
 1902352,
 1902353,
 1902354,
 1902355,
 1902356,
 1902357,
 1902358,
 1902359,
 1902360,
 1902361,
 1902362,
 1902363,
 1902364,
 1902365,
 1902366,
 1902367,
 1902368,
 1902369,
 1902370,
 1902371,
 1902372,
 1902373,
 1902374,
 1902375,
 1902376,
 1902377,
 1902378,
 1902379,
 1902380,
 1902381,
 1902382,
 1902383,
 1902384,
 1902385,
 1902386,
 1902387,
 1902388,
 1902389,
 1902390,
 1902391,
 1902392,
 1902393,
 1902394,
 1902395,
 1902396,
 1902397,
 1902398,
 1902399,
 1902400,
 1902401,
 1902402,
 1902403,
 1902404,
 1902405,
 1902406,
 1902407,
 1902408,
 1902409,
 1902410,
 1902411,
 1902412,
 1902413,
 1902414,
 1902415,
 1902416,
 1902417,
 1902418,
 1902419,
 1902420,
 1902421,
 1902422,
 1902423,
 1902424,
 1902425,
 1902426,
 1902427,
 1902428,
 1902429,
 1902430,
 1902431,
 1902432,
 1902433,
 1902434,
 1902435,
 1902436,
 1902437,
 1902438,
 1902439,
 1902440,
 1902441,
 1902442,
 1902443,
 1902444,
 1902445,
 1902446,
 1902447,
 1902448,
 1902449,
 1902450,
 1902451,
 1902452,
 1902453,
 1902454,
 1902455,
 1902456,
 1902457,
 1902458,
 1902459,
 1902460,
 1902461,
 1902462,
 1902463,
 1902464,
 1902465,
 1902466,
 1902467,
 1902468,
 1902469,
 1902470,
 1902471,
 1902472,
 1902473,
 1902474,
 1902475,
 1902476,
 1902477,
 1902478,
 1902479,
 1902480,
 1902481,
 1902482,
 1902483,
 1902484,
 1902485,
 1902486,
 1902487,
 1902488,
 1902489,
 1902490,
 1902491,
 1902492,
 1902493,
 1902494,
 1902495,
 1902496,
 1902497,
 1902498,
 1902499,
 1902500,
 1902501,
 1902502,
 1902503,
 1902504,
 1902505,
 1902506,
 1902507,
 1902508,
 1902509,
 1902510,
 1902511,
 1902512,
 1902513,
 1902514,
 1902515,
 1902516,
 1902517,
 1902518,
 1902519,
 1902520,
 1902521,
 1902522,
 1902523,
 1902524,
 1902525,
 1902526,
 1902527,
 1902528,
 1902529,
 1902530,
 1902531,
 1902532,
 1902533,
 1902534,
 1902535,
 1902536,
 1902537,
 1902538,
 1902539,
 1902540,
 1902541,
 1902542,
 1902543,
 1902544,
 1902545,
 1902546,
 1902547,
 1902548,
 1902549,
 1902550,
 1902551,
 1902552,
 1902553,
 1902554,
 1902555,
 1902556,
 1902557,
 1902558,
 1902559,
 1902560,
 1902561,
 1902562,
 1902563,
 1902564,
 1902565,
 1902566,
 1902567,
 1902568,
 1902569,
 1902570,
 1902571,
 1902572,
 1902573,
 1902574,
 1902575,
 1902576,
 1902577,
 1902578,
 1902579,
 1902580,
 1902581,
 1902582,
 1902583,
 1902584,
 1902585,
 1902586,
 1902587,
 1902588,
 1902589,
 1902590,
 1902591,
 1902592,
 1902593,
 1902594,
 1902595,
 1902596,
 1902597,
 1902598,
 1902599,
 1902600,
 1902601,
 1902602,
 1902603,
 1902604,
 1902605,
 1902606,
 1902607,
 1902608,
 1902609,
 1902610,
 1902611,
 1902612,
 1902613,
 1902614,
 1902615,
 1902616,
 1902617,
 1902618,
 1902619,
 1902620,
 1902621,
 1902622,
 1902623,
 1902624,
 1902625,
 1902626,
 1902627,
 1902628,
 1902629,
 1902630,
 1902631,
 1902632,
 1902633,
 1902634,
 1902635,
 1902636,
 1902637,
 1902638,
 1902639,
 1902640,
 1902641,
 1902642,
 1902643,
 1902644,
 1902645,
 1902646,
 1902647,
 1902648,
 1902649,
 1902650,
 1902651,
 1902652,
 1902653,
 1902654,
 1902655,
 1902656,
 1902657,
 1902658,
 1902659,
 1902660,
 1902661,
 1902662,
 1902663,
 1902664,
 1902665,
 1902666,
 1902667,
 1902668,
 1902669,
 1902670,
 1902671,
 1902672,
 1902673,
 1902674,
 1902675,
 1902676,
 1902677,
 1902678,
 1902679,
 1902680,
 1902681,
 1902682,
 1902683,
 1902684,
 1902685,
 1902686,
 1902687,
 1902688,
 1902689,
 1902690,
 1902691,
 1902692,
 1902693,
 1902694,
 1902695,
 1902696,
 1902697,
 1902698,
 1902699,
 1902700,
 1902701,
 1902702,
 1902703,
 1902704,
 1902705,
 1902706,
 1902707,
 1902708,
 1902709,
 1902710,
 1902711,
 1902712,
 1902713,
 1902714,
 1902715,
 1902716,
 1902717,
 1902718,
 1902719,
 1902720,
 1902721,
 1902722,
 1902723,
 1902724,
 1902725,
 1902726,
 1902727,
 1902728,
 1902729,
 1902730,
 1902731,
 1902732,
 1902733,
 1902734,
 1902735,
 1902736,
 1902737,
 1902738,
 1902739,
 1902740,
 1902741,
 1902742,
 1902743,
 1902744,
 1902745,
 1902746,
 1902747,
 1902748,
 1902749,
 1902750,
 1902751,
 1902752,
 1902753,
 1902754,
 1902755,
 1902756,
 1902757,
 1902758,
 1902759,
 1902760,
 1902761,
 1902762,
 1902763,
 1902764,
 1902765,
 1902766,
 1902767,
 1902768,
 1902769,
 1902770,
 1902771,
 1902772,
 1902773,
 1902774,
 1902775,
 1902776,
 1902777,
 1902778,
 1902779,
 1902780,
 1902781,
 1902782,
 1902783,
 1902784,
 1902785,
 1902786,
 1902787,
 1902788,
 1902789,
 1902790,
 1902791,
 1902792,
 1902793,
 1902794,
 1902795,
 1902796,
 1902797,
 1902798,
 1902799,
 1902800,
 1902801,
 1902802,
 1902803,
 1902804,
 1902805,
 1902806,
 1902807,
 1902808,
 1902809,
 1902810,
 1902811,
 1902812,
 1902813,
 1902814,
 1902815,
 1902816,
 1902817,
 1902818,
 1902819,
 1902820,
 1902821,
 1902822,
 1902823,
 1902824,
 1902825,
 1902826,
 1902827,
 1902828,
 1902829,
 1902830,
 1902831,
 1902832,
 1902833,
 1902834,
 1902835,
 1902836,
 1902837,
 1902838,
 1902839,
 1902840,
 1902841,
 1902842,
 1902843,
 1902844,
 1902845,
 1902846,
 1902847,
 1902848,
 1902849,
 1902850,
 1902851,
 1902852,
 1902853,
 1902854,
 1902855,
 1902856,
 1902857,
 1902858,
 1902859,
 1902860,
 1902861,
 1902862,
 1902863,
 1902864,
 1902865,
 1902866,
 1902867,
 1902868,
 1902869,
 1902870,
 1902871,
 1902872,
 1902873,
 1902874,
 1902875,
 1902876,
 1902877,
 1902878,
 1902879,
 1902880,
 1902881,
 1902882,
 1902883,
 1902884,
 1902885,
 1902886,
 1902887,
 1902888,
 1902889,
 1902890,
 1902891,
 1902892,
 1902893,
 1902894,
 1902895,
 1902896,
 1902897,
 1902898,
 1902899,
 1902900,
 1902901,
 1902902,
 1902903,
 1902904,
 1902905,
 1902906,
 1902907,
 1902908,
 1902909,
 1902910,
 1902911,
 1902912,
 1902913,
 1902914,
 1902915,
 1902916,
 1902917,
 1902918,
 1902919,
 1902920,
 1902921,
 1902922,
 1902923,
 1902924,
 1902925,
 1902926,
 1902927,
 1902928,
 1902929,
 1902930,
 1902931,
 1902932,
 1902933,
 1902934,
 1902935,
 1902936,
 1902937,
 1902938,
 1902939,
 1902940,
 1902941,
 1902942,
 1902943,
 1902944,
 1902945,
 1902946,
 1902947,
 1902948,
 1902949,
 1902950,
 1902951,
 1902952,
 1902953,
 1902954,
 1902955,
 1902956,
 1902957,
 1902958,
 1902959,
 1902960,
 1902961,
 1902962,
 1902963,
 1902964,
 1902965,
 1902966,
 1902967,
 1902968,
 1902969,
 1902970,
 1902971,
 1902972,
 1902973,
 1902974,
 1902975,
 1902976,
 1902977,
 1902978,
 1902979,
 1902980,
 1902981,
 1902982,
 1902983,
 1902984,
 1902985,
 1902986,
 1902987,
 1902988,
 1902989,
 1902990,
 1902991,
 1902992,
 1902993,
 1902994,
 1902995,
 1902996,
 1902997,
 1902998,
 1902999,
 1903000,
 1903001,
 1903002,
 1903003,
 1903004,
 1903005,
 1903006,
 1903007,
 1903008,
 1903009,
 1903010,
 1903011,
 1903012,
 1903013,
 1903014,
 1903015,
 1903016,
 1903017,
 1903018,
 1903019,
 1903020,
 1903021,
 1903022,
 1903023,
 1903024,
 1903025,
 1903026,
 1903027,
 1903028,
 1903029,
 1903030,
 1903031,
 1903032,
 1903033,
 1903034,
 1903035,
 1903036,
 1903037,
 1903038,
 1903039,
 1903040,
 1903041,
 1903042,
 1903043,
 1903044,
 1903045,
 1903046,
 1903047,
 1903048,
 1903049,
 1903050,
 1903051,
 1903052,
 1903053,
 1903054,
 1903055,
 1903056,
 1903057,
 1903058,
 1903059,
 1903060,
 1903061,
 1903062,
 1903063,
 1903064,
 1903065,
 1903066,
 1903067,
 1903068,
 1903069,
 1903070,
 1903071,
 1903072,
 1903073,
 1903074,
 1903075,
 1903076,
 1903077,
 1903078,
 1903079,
 1903080,
 1903081,
 1903082,
 1903083,
 1903084,
 1903085,
 1903086,
 1903087,
 1903088,
 1903089,
 1903090,
 1903091,
 1903092,
 1903093,
 1903094,
 1903095,
 1903096,
 1903097,
 1903098,
 1903099,
 1903100,
 1903101,
 1903102,
 1903103,
 1903104,
 1903105,
 1903106,
 1903107,
 1903108,
 1903109,
 1903110,
 1903111,
 1903112,
 1903113,
 1903114,
 1903115,
 1903116,
 1903117,
 1903118,
 1903119,
 1903120,
 1903121,
 1903122,
 1903123,
 1903124,
 1903125,
 1903126,
 1903127,
 1903128,
 1903129,
 1903130,
 1903131,
 1903132,
 1903133,
 1903134,
 1903135,
 1903136,
 1903137,
 1903138,
 1903139,
 1903140,
 1903141,
 1903142,
 1903143,
 1903144,
 1903145,
 1903146,
 1903147,
 1903148,
 1903149,
 1903150,
 1903151,
 1903152,
 1903153,
 1903154,
 1903155,
 1903156,
 1903157,
 1903158,
 1903159,
 1903160,
 1903161,
 1903162,
 1903163,
 1903164,
 1903165,
 1903166,
 1903167,
 1903168,
 1903169,
 1903170,
 1903171,
 1903172,
 1903173,
 1903174,
 1903175,
 1903176,
 1903177,
 1903178,
 1903179,
 1903180,
 1903181,
 1903182,
 1903183,
 1903184,
 1903185,
 1903186,
 1903187,
 1903188,
 1903189,
 1903190,
 1903191,
 1903192,
 1903193,
 1903194,
 1903195,
 1903196,
 1903197,
 1903198,
 1903199,
 1903200,
 1903201,
 1903202,
 1903203,
 1903204,
 1903205,
 1903206,
 1903207,
 1903208,
 1903209,
 1903210,
 1903211,
 1903212,
 1903213,
 1903214,
 1903215,
 1903216,
 1903217,
 1903218,
 1903219,
 1903220,
 1903221,
 1903222,
 1903223,
 1903224,
 1903225,
 1903226,
 1903227,
 1903228,
 1903229,
 1903230,
 1903231,
 1903232,
 1903233,
 1903234,
 1903235,
 1903236,
 1903237,
 1903238,
 1903239,
 1903240,
 1903241,
 1903242,
 1903243,
 1903244,
 1903245,
 ...]

In [7]:
try:
    df.loc[df['logon']=='KBP0008']
except:
    print('Not Found')

Not Found

In [8]:
df1 = df.dropna()

In [9]:
df1.isna().sum()

date             0
user             0
pc               0
filename         0
content          0
employee_name    0
email            0
role             0
department       0
dtype: int64

In [10]:
df1.head()

,date,user,pc,filename,content,employee_name,email,role,department
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
1,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
2,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
3,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering
4,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,3 - Engineering

In [11]:
df2 = df1.copy()

In [12]:
df2['department'] = df2['department'].str.split(" - ",n=1,expand=True)[1]

In [13]:
df3 =df2.copy()

In [14]:
df4 = df3.drop_duplicates(keep='last')

In [15]:
df4.duplicated().sum()

0

In [16]:
df4.head()

,date,user,pc,filename,content,employee_name,email,role,department
11,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
23,2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
35,2010-01-02 08:28:08,MOH0273,PC-6699,JS09VZOJ.doc,D0-CF-11-E0-A1-B1-1A-E1 yet chamberlain own co...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
47,2010-01-02 08:28:24,MOH0273,PC-6699,LX0I6B1U.pdf,25-50-44-46-2D found british conflict close th...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
59,2010-01-02 09:14:38,MOH0273,PC-6699,TMF79YY1.doc,D0-CF-11-E0-A1-B1-1A-E1 hastily apparently tho...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering

In [17]:
df5 =df4.sort_values('date',ignore_index=True)

In [18]:
df5.head()

,date,user,pc,filename,content,employee_name,email,role,department
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
1,2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
2,2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...,Harper Price Harris,Harper.Price.Harris@dtaa.com,ChiefEngineer,Engineering
3,2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...,Harper Price Harris,Harper.Price.Harris@dtaa.com,ChiefEngineer,Engineering
4,2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8,Hadley Sonya Bowen,Hadley.Sonya.Bowen@dtaa.com,PurchasingClerk,Purchasing

In [19]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332281 entries, 0 to 332280
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           332281 non-null  object
 1   user           332281 non-null  object
 2   pc             332281 non-null  object
 3   filename       332281 non-null  object
 4   content        332281 non-null  object
 5   employee_name  332281 non-null  object
 6   email          332281 non-null  object
 7   role           332281 non-null  object
 8   department     332281 non-null  object
dtypes: object(9)
memory usage: 22.8+ MB

In [20]:
df5.shape

(332281, 9)

In [21]:
df5.head()

,date,user,pc,filename,content,employee_name,email,role,department
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
1,2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
2,2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...,Harper Price Harris,Harper.Price.Harris@dtaa.com,ChiefEngineer,Engineering
3,2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...,Harper Price Harris,Harper.Price.Harris@dtaa.com,ChiefEngineer,Engineering
4,2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8,Hadley Sonya Bowen,Hadley.Sonya.Bowen@dtaa.com,PurchasingClerk,Purchasing

In [22]:
df5.tail()

,date,user,pc,filename,content,employee_name,email,role,department
332276,2010-12-31 17:26:12,HRB0351,PC-0697,6PYAU6YM.doc,D0-CF-11-E0-A1-B1-1A-E1 depth institution aver...,Hadassah Riley Baker,Hadassah.Riley.Baker@dtaa.com,ChiefEngineer,Engineering
332277,2010-12-31 17:26:50,HRB0351,PC-0697,8F6V1GIB.zip,50-4B-03-04-14 brought down short maximum enou...,Hadassah Riley Baker,Hadassah.Riley.Baker@dtaa.com,ChiefEngineer,Engineering
332278,2010-12-31 17:27:17,HRB0351,PC-0697,L57EEEU4.pdf,25-50-44-46-2D designated awarded superior sav...,Hadassah Riley Baker,Hadassah.Riley.Baker@dtaa.com,ChiefEngineer,Engineering
332279,2010-12-31 18:54:05,AJF0370,PC-3978,REPRB3TE.txt,4B-53-4B-37 mammals fear us consequences conse...,Arthur John Floyd,Arthur.John.Floyd@dtaa.com,ITAdmin,Security
332280,2010-12-31 18:56:23,AJF0370,PC-3978,08APT2N5.pdf,25-50-44-46-2D dcn strengthen muscular seemed ...,Arthur John Floyd,Arthur.John.Floyd@dtaa.com,ITAdmin,Security

In [23]:
um.exportFile(df5,'file_role')

Exporting role_file_copy.csv is Done !

# Verify

In [24]:
df = pd.read_csv('../../Dataset/file_copy.csv')
df.head()

,date,user,pc,filename,content,employee_name,email,role,department
0,2010-01-02 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
1,2010-01-02 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...,Macaulay Otto Hopkins,Macaulay.Otto.Hopkins@dtaa.com,HardwareEngineer,Engineering
2,2010-01-02 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...,Harper Price Harris,Harper.Price.Harris@dtaa.com,ChiefEngineer,Engineering
3,2010-01-02 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...,Harper Price Harris,Harper.Price.Harris@dtaa.com,ChiefEngineer,Engineering
4,2010-01-02 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8,Hadley Sonya Bowen,Hadley.Sonya.Bowen@dtaa.com,PurchasingClerk,Purchasing